
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}

<article>
    <header>
        <h1 class="news-title" data-field="title">
            Cơ quan an ninh quyền lực số 1 Trung Quốc nói gì về cú "đả hổ" đầu tiên sau Đại hội 19?
        </h1>
        <p class="news-info">
            <b data-field="author">Thủy Thu</b> | <time class="op-published" datetime="11/22/2017 7:40:00 AM" data-field="createddate">22/11/2017 07:40</time>
        </p>

        <div class="share mgt15 clearfix">
            <div class="fl mgr10">
                <a rel="nofollow" href="https://www.facebook.com/sharer/sharer.php?u=http://soha.vn/news-20171122002532244.htm" title="Chia sẻ" class="facebook-button-share fl" target="_blank"></a>
                <div data-type="facebook-button-share-counter" class="facebook-button-share-counter fl">
                    <div class="pluginCountButton pluginCountNum"><span rel="share-count" data-type="facebook-sharecount">0</span></div>
                    <div class="pluginCountButtonNub"><s></s><i></i></div>
                </div>
            </div>
            <div class="fl">

                <section id="ctl00_ctl00_cphBody_cphBody_ctl00_ctrNewsSimpleInfo_btnFacebookButton" class="facebook-button ">
                    <a class="mask" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://soha.vn/news-20171122002532244.htm" rel="nofollow"><span class="beside-text"></span></a>
                    <div class="fb-like-async" data-layout="button_count" href="http://soha.vn/news-20171122002532244.htm" send="False" width="200" height="24" show_faces="False" font=""></div>
                </section>

            </div>

            <a class="fr mgl6 ico-mailto" rel="nofollow" title="Liên hệ" href="mailto:?&subject=[soha.vn] Cơ quan an ninh quyền lực số 1 Trung Quốc n&#243;i g&#236; về c&#250; &quot;đả hổ&quot; đầu ti&#234;n sau Đại hội 19?&body=http://soha.vn/news-20171122002532244.htm%0D%0AVụ &quot;đả hổ&quot; tối 21/11 đ&#227; ph&#225;t đi th&#244;ng điệp mạnh mẽ từ chiến dịch chống tham nhũng của Chủ tịch Trung Quốc Tập Cận B&#236;nh."></a>
            <div class="fr">
                <div class="fb-send" data-href="http://soha.vn/news-20171122002532244.htm"></div>

            </div>
        </div>
        <figure><img src="http://sohanews.sohacdn.com/thumb_w/660/2017/639190-xi-jninpig-1-1511285008286-0-24-400-668-crop-1511285011671.jpg" width="660" title="Cơ quan an ninh quyền lực số 1 Trung Quốc n&#243;i g&#236; về c&#250; &quot;đả hổ&quot; đầu ti&#234;n sau Đại hội 19?" alt="Cơ quan an ninh quyền lực số 1 Trung Quốc n&#243;i g&#236; về c&#250; &quot;đả hổ&quot; đầu ti&#234;n sau Đại hội 19?" data-field="firstphoto" /><figcaption>Cơ quan an ninh quyền lực số 1 Trung Quốc nói gì về cú "đả hổ" đầu tiên sau Đại hội 19?</figcaption></figure>
        <div class="mgt10 clearfix"><center><i style="line-height:18px">Chủ tịch Trung Quốc Tập Cận Bình. Ảnh Tân Hoa Xã</i></center></div>


    </header>
    <div class="clearfix mgt15">

        <div class="detail-body">
            <h2 class="news-sapo" data-field="sapo">
                <a class="btn-nhuanbut24 nb24" title="Nhuận bút 24h" data-type="btn-nhuanbut24"></a>
                Vụ "đả hổ" tối 21/11 đã phát đi thông điệp mạnh mẽ từ chiến dịch chống tham nhũng của Chủ tịch Trung Quốc Tập Cận Bình.
            </h2>
            <aside><ul class="related-news" data-slottype="relatednews"><li><a href="http://soha.vn/trung-quoc-quat-nga-ho-lon-dau-tien-sau-dai-hoi-19-20171121213746603.htm" title="Trung Quốc quật ng&#227; &quot;hổ lớn&quot; đầu ti&#234;n sau Đại hội 19" data-popup-url="/trung-quoc-quat-nga-ho-lon-dau-tien-sau-dai-hoi-19-20171121213746603rf20171122002532244.htm" class="show-popup visit-popup">Trung Quốc quật ngã "hổ lớn" đầu tiên sau Đại hội 19 &nbsp;<i class="icon-show-popup"></i></a><i class="ls-1"></i></li></ul></aside>

            <div data-check-position="body_start"></div>
            <div class="clearfix news-content" data-field="body">

                <p>Tối 21/11, website chính thức của Ủy ban Kiểm tra Kỷ luật trung ương Trung Quốc CCDI đưa ra thông báo: "Cựu Phó trưởng Ban Tuyên truyền trung ương đảng Cộng sản Trung Quốc Lỗ Vĩ hiện đang tiếp nhận điều tra của tổ chức do vi phạm kỷ luật nghiêm trọng".</p><p>Đây là thông tin kỷ luật cán bộ đầu tiên được công bố sau Đại hội ĐCSTQ khóa 19 vừa kết thúc vào cuối tháng 10 vừa qua.</p><p>Bài viết đăng trên website của cơ quan an ninh số 1 Trung Quốc cho biết, vụ việc ông Lỗ Vĩ "ngã ngựa" cho thấy đảng trung ương Trung Quốc với hạt nhân là Chủ tịch Tập Cận Bình đã kiên quyết trị đảng toàn diện, chặt chẽ.</p><p>Đồng thời cơ quan này cho rằng, động thái trên phát đi thông điệp mạnh mẽ rằng, chiến dịch đấu tranh chống tham nhũng sẽ duy trì liên tục, không ngơi nghỉ trong bất cứ thời điểm nào và là minh chứng tốt nhất cho quyết tâm của ĐSCTQ ngay khi Đại hội 19 khép lại chưa đầy một tháng.</p><p>Trước đó, trong buổi họp báo ra mắt của Ban thường vụ Bộ chính trị khóa 19 hôm 25/10, nhà lãnh đạo Trung Quốc yêu cầu các đảng viên "tiếp tục loại bỏ mầm bệnh trong cơ thể khỏe mạnh của đảng cũng như không được ngủ quên trên chiến thắng của cuộc chiến chống tham nhũng".</p><p>Theo CCDI, chiến dịch chống tham nhũng do ông Tập khởi xướng từ Đại hội 18 đã đạt được những kết quả xuất sắc.&nbsp;</p><p>"<i>Tiến trình kiểm soát đảng một cách chặt chẽ, toàn diện đã đi vào bố cục chiến lược, việc xây dựng tác phong liêm khiết và tinh thần đấu tranh chống tham nhũng được đặt ở tầm cao mới chưa từng có tiền lệ, kiên trì 'đả hổ', 'đập ruồi', 'săn cáo', xu thế mang tính áp đảo trong đấu tranh chống tham nhũng đã hình thành và được củng cố phát triển</i>", CCDI tuyên bố.</p><p>Trước đó, trong "bảng thành tích đả hổ" mà CCDI trình lên Đại hội 19 liệt kê: Có 440 cán bộ đảng viên thuộc cấp tỉnh, quân khu bị điều tra, trong đó có 43 ủy viên trung ương, ủy viên dự khuyết trung ương khóa 18 và 9 ủy viên CCDI, con số này bao gồm cả ông Tôn Chính Tài, cựu Bí thư thành ủy Trùng Khánh bị cáo buộc tham nhũng hồi cuối tháng 7/2017.</p><div class="VCSortableInPreviewMode active" type="VideoStream" data-src="http://vcplayer.mediacdn.vn/1.1/?_site=soha&amp;vid=sohanews/wmtsupz5aairf-s3m1ie7nwfjkh1ni/2017/10/25/newly-elected-members-cpc-leadership-meet-the-press-1508908400313-7cc92.mp4&amp;autoplay=false&amp;_info=aab14f9802f04993bb70d2715cd06816" data-width="600px" data-height="400px" id="videoid_69737" videoid="69737" videoexternalid="undefined"><div id="videoid_69737" videoid="69737" videoexternalid="undefined"></div><div class="VideoCMS_Caption"><p class="" data-placeholder="[nhập chú thích]" style="text-align: center;">[VIDEO] 7 Ủy viên thường vụ Bộ chính trị Trung Quốc khóa 19 ra mắt</p></div></div><div class="VCSortableInPreviewMode link-content-footer IMSCurrentEditorEditObject" type="link"><a data-cke-saved-href="http://soha.vn/ong-mugabe-chinh-thuc-tu-chuc-tong-thong-zimbabwe-ket-thuc-37-nam-nam-quyen-20171121231653416.htm" href="ong-mugabe-chinh-thuc-tu-chuc-tong-thong-zimbabwe-ket-thuc-37-nam-nam-quyen-20171121231653416.htm" title="Ông Mugabe chính thức từ chức Tổng thống Zimbabwe, kết thúc 37 năm nắm quyền" target="_blank">Ông Mugabe chính thức từ chức Tổng thống Zimbabwe, kết thúc 37 năm nắm quyền</a></div>
            </div>
            <div data-check-position="body_end"></div>

            <p class="bottom-info"><span data-field="source">theo <a href="http://thoidai.com.vn" rel="nofollow" target="_blank">Thời đại</a></span></p>
        </div>




    </div>
    <div class="bottom-contact mgt20 clearfix">

        <div class="clearfix interative-box">
            <div class="fl mgr6">
                <a rel="nofollow" href="https://www.facebook.com/sharer/sharer.php?u=http://soha.vn/news-20171122002532244.htm" title="Chia sẻ" class="facebook-button-share fl" target="_blank"></a>
                <div data-type="facebook-button-share-counter" class="facebook-button-share-counter fl">
                    <div class="pluginCountButton pluginCountNum"><span rel="share-count" data-type="facebook-sharecount">0</span></div>
                    <div class="pluginCountButtonNub"><s></s><i></i></div>
                </div>
            </div>

            <div class="fl">

                <section id="ctl00_ctl00_cphBody_cphBody_ctl00_ctrInterativeBox_btnFacebookButton" class="facebook-button ">
                    <a class="mask" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://soha.vn/news-20171122002532244.htm" rel="nofollow"><span class="beside-text"></span></a>
                    <div class="fb-like-async" data-layout="button_count" href="http://soha.vn/news-20171122002532244.htm" send="False" width="200" height="24" show_faces="False" font=""></div>
                </section>

            </div>


            <a class="fr mgl6 ico-print" rel="nofollow" href="http://soha.vn/print-20171122002532244.htm" target="_blank" title="In bài viết"></a>
            <a class="fr mgl6 ico-mailto" rel="nofollow" title="Liên hệ" href="mailto:thegioi@ttvn.vn"></a>
            <div class="fr">
                <section class="facebook-button">
                    <span class="btFbSend"></span>
                    <div class="fb-send-async fb_iframe_widget" data-href="http://soha.vn/news-20171122002532244.htm"></div>
                </section>
            </div>
        </div>

        <div class="fanpage clearfix">
            <p class="fl">
                <b class="mgb8">Đọc tin tức <a title="VN" href="soha_default_2.html">VN</a> nhanh nhất, xem <a title="tin thế giới" href="quoc-te.htm">tin thế giới</a> mới nhất tại Soha.</b><b id='contactAddress'>Bạn đọc có thể báo tin, gửi bài viết, clip, ảnh về email <span>thegioi@ttvn.vn</span> để nhận  <a rel='nofollow' href='http://soha.vn/xa-hoi/tra-nhuan-but-trong-24-gio-cho-ctv-muc-cao-nhat-den-5-trieubai-2013111004173397.htm'>nhuận bút cao trong vòng 24h.</a></b>
                <b id="bottomHotline">Đường dây nóng: <span class="phone-number">0943 113 999</span></b>
            </p>
            <div class="fr">


                <a class="fan-box-avatar" rel="nofollow" href="https://www.facebook.com/TintucSoha" title="Kết bạn với Soha trên Facebook" target="_blank">

                </a>
                <div class="fl">
                    <b>Soha</b>
                    <div class="fb-like" data-layout="button_count" data-href="https://www.facebook.com/TintucSoha" data-send="false"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="news-content clearfix" id="divBottomRelatedNewsPlaceHolder"></div>

    <div class="clearfix mgt20 tags">
        <b class="box-title">Tags</b><h3><a href="http://soha.vn/dai-hoi-19.html" title="Đại hội 19" itemprop="keywords">Đại hội 19</a></h3><h3><a href="http://soha.vn/chong-tham-nhung.html" title="chống tham nhũng" itemprop="keywords">chống tham nhũng</a></h3><h3><a href="http://soha.vn/tap-can-binh.html" title="tập cận b&#236;nh" itemprop="keywords">tập cận bình</a></h3><h3><a href="http://soha.vn/vi-pham-ky-luat-nghiem-trong.html" title="vi phạm kỷ luật nghi&#234;m trọng" itemprop="keywords">vi phạm kỷ luật nghiêm trọng</a></h3><h3><a href="http://soha.vn/nha-lanh-dao-trung-quoc.html" title="nh&#224; l&#227;nh đạo Trung Quốc" itemprop="keywords">nhà lãnh đạo Trung Quốc</a></h3><h3><a href="http://soha.vn/trung-quoc.html" title="Trung Quốc" itemprop="keywords">Trung Quốc</a></h3>
    </div>





    <address class="hidden"><a title="Thủy Thu">Thủy Thu</a></address>
    <footer class="hidden"><small>Trí Thức Trẻ</small></footer>
</article>

