
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutMobileDetail.cshtml";
}

<div class="news-detail-container">

    <h1 class="post-title">Vật thể lạ dưới chân cầu Long Biên được xác định là bom</h1>
    <div class="author-container">
        <span class="author">Hoàng Hải</span>
        <span class="source">Theo Trí Thức Trẻ</span>
        <span class="time">• <span title="2017-11-26T14:51:12" class="timeago"></span></span>
    </div>
    <div class="detail-cover">
        <img src="http://sohanews.sohacdn.com/zoom/640_400/2017/cau-long-bien-1511678918698-0-0-335-540-crop-1511678922285.jpg" alt="" />
        <i>Cầu Long Biên.</i>
    </div>
    <div class="sapo">Qua kiểm tra, lực lượng chức năng đã xác định được vật thể nằm dưới lòng sông Hồng, cạnh chân cầu Long Biên là một quả bom dài khoảng 2,5 mét.</div>




    <div class="post-content">
        <div id="divfirst" style="padding: 0;">
            <p>Liên quan đến sự việc người dân phát hiện một vật thể lạ nghi là bom nằm dưới lòng sông Hồng, cạnh chân <a href="http://soha.vn/cau-long-bien.html" title="cầu Long Biên" target="_blank">cầu Long Biên</a> (Hà Nội), trao đổi với PV vào ngày 26/11, một lãnh đạo Ban Chỉ huy Quân sự quận Long Biên (TP Hà Nội) cho biết, hiện đã xác định được vật thể lạ trên là 1 quả bom dài khoảng 2,5 m đường kính 50 - 60 cm.</p><p>Vị này cũng cho biết, sáng 26/11, người nhái của lực lượng công binh đã lặn xuống kiểm tra và xác định quả bom nói trên. Đến trưa, lực lượng chức năng tổ chức khoanh vùng, hướng dẫn tàu thuyền không đi vào khu vực này.</p><p><i>"Quả bom đã nằm ở khu vực rất lâu, được dự đoán từ thời chiến tranh chống Mỹ. Hiện nay, chúng tôi vẫn đang chờ Bộ Quốc phòng chỉ đạo để xử lý quả bom",</i> lãnh đạo Ban chỉ huy quân sự Long Biên nói.</p><p>Trước đó, ông Nguyễn Quốc Văn - Chủ tịch UBND phường Ngọc Thụy, cho biết ngày 21/11, cơ quan chức năng nhận được phản ánh của người dân về việc tại địa phận phường Ngọc Thụy xuất hiện chướng ngại vật trên sông Hồng, có đường kính khoảng 50 đến 60 cm, dài hơn 2 m nghi là bom, nằm dưới sông, cách gầm cầu Long Biên khoảng 5 m. </p>
        </div><div id="admbackground" style="padding: 0;"></div><div id="divend" style="padding: 0;">
            <p>Ngay sau đó, UBND phường Ngọc Thuỵ đã khẩn trương thông báo cơ quan chức năng.</p><div class="VCSortableInPreviewMode link-content-footer IMSCurrentEditorEditObject" type="link"><a data-cke-saved-href="http://soha.vn/be-gai-7-tuoi-bi-cha-ruot-me-ke-di-sat-do-vao-mat-ban-an-luong-tam-se-theo-ho-suot-doi-20171126110123197.htm" href="http://soha.vn/be-gai-7-tuoi-bi-cha-ruot-me-ke-di-sat-do-vao-mat-ban-an-luong-tam-se-theo-ho-suot-doi-20171126110123197.htm" title="Bé gái 7 tuổi bị cha ruột, mẹ kế dí sắt đỏ vào mặt: Bản án lương tâm sẽ theo họ suốt đời" target="_blank">Bé gái 7 tuổi bị cha ruột, mẹ kế dí sắt đỏ vào mặt: "Bản án lương tâm sẽ theo họ suốt đời"</a></div>
        </div>
        <div class="clearfix" id="end-post-content"></div>
    </div>

    <div class="fb-like-share-container bottom">
        <a href="javascript:void(0)" onclick="share_facebook()" class="fb_share" rel="nofollow">
            <b>0</b><span> Chia sẻ</span>
        </a>
        <a href="javascript:void(0)" class="comment_count" rel="nofollow" data-id="20171126135030056" onclick="showCommentBox('20171126135030056')">
            <b>0</b><span> Bình luận</span>
        </a>
    </div>

    <div class="post-tags-container">
        <div class="tag_details">
            <span class="tag-keyword">Tags</span><a href="/cau-long-bien.html">Cầu Long Biên</a><a href="/bom-duoi-chan-cau-long-bien.html"> bom dưới chân cầu long biên</a><a href="/bom-duoi-chan-cau-long-bien-ha-noi.html"> bom dưới chân cầu long biên hà nội</a>
        </div>

    </div>

</div>

