
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<div class="featured-news">

    <a href="/pgs-de-xuat-cai-tien-bang-chu-cai-se-khong-lui-buoc-du-bi-nem-da-ban-thiu-20171126083431509.htm" title="PGS TS đề xuất cải tiến bảng chữ c&#225;i &quot;sẽ kh&#244;ng l&#249;i bước d&#249; bị n&#233;m đ&#225; bẩn thỉu&quot;" class="post-ava open-popup">
        <img alt="PGS TS đề xuất cải tiến bảng chữ c&#225;i &quot;sẽ kh&#244;ng l&#249;i bước d&#249; bị n&#233;m đ&#225; bẩn thỉu&quot;" class="lazy" data-src="http://sohanews.sohacdn.com/zoom/480_300/2017/cai-cach-giao-duc-01-1511668341431-16-0-567-888-crop-1511668345652.jpg" src="http://sohanews.sohacdn.com/zoom/48_30/2017/cai-cach-giao-duc-01-1511668341431-16-0-567-888-crop-1511668345652.jpg" />
        <span class="headline-icon">Tiêu điểm</span>
    </a>
    <h3 class="title">
        <a href="/pgs-de-xuat-cai-tien-bang-chu-cai-se-khong-lui-buoc-du-bi-nem-da-ban-thiu-20171126083431509.htm" class="open-popup">PGS TS đề xuất cải tiến bảng chữ cái "sẽ không lùi bước dù bị ném đá bẩn thỉu"</a>
    </h3>
    <div class="sapo"><a href="/thoi-su.htm" class="cat fl">THỜI SỰ</a>PGS. TS Bùi Hiền, người đề xuất cải tiến bảng chữ cái đã bất ngờ khi bị "ném đá" bởi trước đây, nếu đồng ý hay không cũng không có ai phản ứng thái quá, vô văn hóa như vậy.</div>
    <!--Relation of Top 1-->


</div>



<ul class="list-daily-hot-news focus" id="nb2">

    <li class="daily-hot-news clearfix">
        <h3 class="title">
            <a href="/chu-tich-clb-quang-nam-noi-chung-toi-vo-dich-nho-don-diem-la-su-xuyen-tac-tro-tren-20171126135117681.htm" title="Chủ tịch CLB Quảng Nam: &quot;N&#243;i ch&#250;ng t&#244;i v&#244; địch nhờ dồn điểm l&#224; sự xuy&#234;n tạc trơ trẽn&quot;" class="open-popup">Chủ tịch CLB Quảng Nam: "Nói chúng tôi vô địch nhờ dồn điểm là sự xuyên tạc trơ trẽn"</a>
        </h3>
        <a href="/chu-tich-clb-quang-nam-noi-chung-toi-vo-dich-nho-don-diem-la-su-xuyen-tac-tro-tren-20171126135117681.htm" title="Chủ tịch CLB Quảng Nam: &quot;N&#243;i ch&#250;ng t&#244;i v&#244; địch nhờ dồn điểm l&#224; sự xuy&#234;n tạc trơ trẽn&quot;" class="post-ava open-popup">
            <img alt="Chủ tịch CLB Quảng Nam: &quot;N&#243;i ch&#250;ng t&#244;i v&#244; địch nhờ dồn điểm l&#224; sự xuy&#234;n tạc trơ trẽn&quot;" class="lazy" data-src="http://sohanews.sohacdn.com/zoom/250_150/2017/photo1511678925659-1511678925858-2-0-374-600-crop-1511678967118.jpg" src="http://sohanews.sohacdn.com/zoom/32_20/2017/photo1511678925659-1511678925858-2-0-374-600-crop-1511678967118.jpg" />

        </a>
        <div class="sapo">
            Một ngày sau khi CLB Quảng Nam dành chức vô địch V.League 2017, Saostar đã có cuộc phỏng vấn với ...
            <div>
                <a href="/the-thao.htm" class="cat fl">Thể thao</a>

            </div>
        </div>
    </li>


    <li class="daily-hot-news clearfix">
        <h3 class="title">
            <a href="/nhan-chung-ke-lai-giay-phut-phat-hien-ba-noi-be-gai-20-ngay-tuoi-bi-hai-nguoi-la-quat-nga-bat-coc-chau-be-20171126120818072.htm" title="Nh&#226;n chứng kể lại gi&#226;y ph&#250;t ph&#225;t hiện b&#224; nội b&#233; g&#225;i 20 ng&#224;y tuổi bị hai người lạ quật ng&#227;, bắt c&#243;c ch&#225;u b&#233;" class="open-popup">Nhân chứng kể lại giây phút phát hiện bà nội bé gái 20 ngày tuổi bị hai người lạ quật ngã, bắt cóc cháu bé</a>
        </h3>
        <a href="/nhan-chung-ke-lai-giay-phut-phat-hien-ba-noi-be-gai-20-ngay-tuoi-bi-hai-nguoi-la-quat-nga-bat-coc-chau-be-20171126120818072.htm" title="Nh&#226;n chứng kể lại gi&#226;y ph&#250;t ph&#225;t hiện b&#224; nội b&#233; g&#225;i 20 ng&#224;y tuổi bị hai người lạ quật ng&#227;, bắt c&#243;c ch&#225;u b&#233;" class="post-ava open-popup">
            <img alt="Nh&#226;n chứng kể lại gi&#226;y ph&#250;t ph&#225;t hiện b&#224; nội b&#233; g&#225;i 20 ng&#224;y tuổi bị hai người lạ quật ng&#227;, bắt c&#243;c ch&#225;u b&#233;" class="lazy" data-src="http://sohanews.sohacdn.com/zoom/250_150/2017/photo1511672776269-1511672776519-0-62-371-659-crop-1511672843170.jpg" src="http://sohanews.sohacdn.com/zoom/32_20/2017/photo1511672776269-1511672776519-0-62-371-659-crop-1511672843170.jpg" />

        </a>
        <div class="sapo">
            Trong lúc giằng co với bà nội của cháu bé, 2 người lạ mặt đã bị rơi lại chiếc dép ...
            <div>
                <a href="/phap-luat.htm" class="cat fl">Pháp luật</a>

            </div>
        </div>
    </li>


    <li class="daily-hot-news clearfix">
        <h3 class="title">
            <a href="/suong-muoi-trang-xoa-dinh-fansipan-nhieu-em-nho-va-du-khach-thich-thu-gom-lai-dap-thanh-nguoi-tuyet-20171126114041837.htm" title="Sương muối trắng x&#243;a đỉnh Fansipan, nhiều em nhỏ v&#224; du kh&#225;ch th&#237;ch th&#250; gom lại đắp th&#224;nh người tuyết" class="open-popup">Sương muối trắng xóa đỉnh Fansipan, nhiều em nhỏ và du khách thích thú gom lại đắp thành người tuyết</a>
        </h3>
        <a href="/suong-muoi-trang-xoa-dinh-fansipan-nhieu-em-nho-va-du-khach-thich-thu-gom-lai-dap-thanh-nguoi-tuyet-20171126114041837.htm" title="Sương muối trắng x&#243;a đỉnh Fansipan, nhiều em nhỏ v&#224; du kh&#225;ch th&#237;ch th&#250; gom lại đắp th&#224;nh người tuyết" class="post-ava open-popup">
            <img alt="Sương muối trắng x&#243;a đỉnh Fansipan, nhiều em nhỏ v&#224; du kh&#225;ch th&#237;ch th&#250; gom lại đắp th&#224;nh người tuyết" class="lazy" data-src="http://sohanews.sohacdn.com/zoom/250_150/2017/giphy-1-1511663678980-48-0-216-270-crop-1511663691262gif-1511670991555-0-0-111-180-crop-1511671012299.png" src="http://sohanews.sohacdn.com/zoom/32_20/2017/giphy-1-1511663678980-48-0-216-270-crop-1511663691262gif-1511670991555-0-0-111-180-crop-1511671012299.png" />

        </a>
        <div class="sapo">
            Sáng sớm nay, do không khí lạnh tăng cường nhiệt độ giảm sâu dưới 4 độ C khiến những du ...
            <div>
                <a href="/cu-dan-mang.htm" class="cat fl">Cư dân mạng</a>

            </div>
        </div>
    </li>

    <li class="daily-hot-news clearfix">
        <h3 class="title">
            <a href="/vat-the-la-duoi-chan-cau-long-bien-duoc-xac-dinh-la-bom-20171126135030056.htm" title="Vật thể lạ dưới ch&#226;n cầu Long Bi&#234;n được x&#225;c định l&#224; bom" class="open-popup">Vật thể lạ dưới chân cầu Long Biên được xác định là bom</a>
        </h3>
        <a href="/vat-the-la-duoi-chan-cau-long-bien-duoc-xac-dinh-la-bom-20171126135030056.htm" title="Vật thể lạ dưới ch&#226;n cầu Long Bi&#234;n được x&#225;c định l&#224; bom" class="post-ava open-popup">
            <img alt="Vật thể lạ dưới ch&#226;n cầu Long Bi&#234;n được x&#225;c định l&#224; bom" class="lazy" data-src="http://sohanews.sohacdn.com/zoom/250_150/2017/cau-long-bien-1511678918698-0-0-335-540-crop-1511678922285.jpg" src="http://sohanews.sohacdn.com/zoom/32_20/2017/cau-long-bien-1511678918698-0-0-335-540-crop-1511678922285.jpg" />

        </a>
        <div class="sapo">
            Qua kiểm tra, lực lượng chức năng đã xác định được vật thể nằm dưới lòng sông Hồng, cạnh chân ...
            <div>
                <a href="/thoi-su.htm" class="cat fl">THỜI SỰ</a>

            </div>
        </div>
    </li>


    <li class="daily-hot-news clearfix">
        <h3 class="title">
            <a href="/nhan-sac-cua-nsnd-lan-huong-truoc-khi-dao-keo-ha-go-ma-20171126143754837.htm" title="Nhan sắc của NSND Lan Hương trước khi &quot;dao k&#233;o&quot; hạ g&#242; m&#225;" class="open-popup">Nhan sắc của NSND Lan Hương trước khi "dao kéo" hạ gò má</a>
        </h3>
        <a href="/nhan-sac-cua-nsnd-lan-huong-truoc-khi-dao-keo-ha-go-ma-20171126143754837.htm" title="Nhan sắc của NSND Lan Hương trước khi &quot;dao k&#233;o&quot; hạ g&#242; m&#225;" class="post-ava open-popup">
            <img alt="Nhan sắc của NSND Lan Hương trước khi &quot;dao k&#233;o&quot; hạ g&#242; m&#225;" class="lazy" data-src="http://sohanews.sohacdn.com/zoom/250_150/2017/89h2c2d16-1511680983764-22-0-332-499-crop-1511681800373.jpg" src="http://sohanews.sohacdn.com/zoom/32_20/2017/89h2c2d16-1511680983764-22-0-332-499-crop-1511681800373.jpg" />

        </a>
        <div class="sapo">
            NSND Lan Hương cho biết, cô có tìm đến phẫu thuật thẩm mỹ để hạ gò má nhưng không can ...
            <div>
                <a href="/giai-tri.htm" class="cat fl">Giải trí</a>

            </div>
        </div>
    </li>


    <li class="daily-hot-news clearfix">
        <h3 class="title">
            <a href="/v-league-ha-man-la-lung-voi-cai-den-dui-cua-ha-noi-may-man-cua-hagl-201711260100544.htm" title="V-League hạ m&#224;n: Lạ l&#249;ng với c&#225;i &quot;đen đủi&quot; của H&#224; Nội, &quot;may mắn&quot; của HAGL" class="open-popup">V-League hạ màn: Lạ lùng với cái "đen đủi" của Hà Nội, "may mắn" của HAGL</a>
        </h3>
        <a href="/v-league-ha-man-la-lung-voi-cai-den-dui-cua-ha-noi-may-man-cua-hagl-201711260100544.htm" title="V-League hạ m&#224;n: Lạ l&#249;ng với c&#225;i &quot;đen đủi&quot; của H&#224; Nội, &quot;may mắn&quot; của HAGL" class="post-ava open-popup">
            <img alt="V-League hạ m&#224;n: Lạ l&#249;ng với c&#225;i &quot;đen đủi&quot; của H&#224; Nội, &quot;may mắn&quot; của HAGL" class="lazy" data-src="http://sohanews.sohacdn.com/zoom/250_150/2017/dyachenko1-1511632483999-0-0-371-597-crop-1511632492658.jpg" src="http://sohanews.sohacdn.com/zoom/32_20/2017/dyachenko1-1511632483999-0-0-371-597-crop-1511632492658.jpg" />

        </a>
        <div class="sapo">
            Rốt cuộc, tấm màn nhung V-League cũng hạ xuống với những lời đồn đoán về chức vô địch thành sự ...
            <div>
                <a href="/the-thao.htm" class="cat fl">Thể thao</a>

            </div>
        </div>
    </li>


    <li class="daily-hot-news clearfix">
        <h3 class="title">
            <a href="/bi-mat-thu-vi-dang-sau-nhung-lo-hong-sieu-to-ngay-giua-cac-ngoi-nha-cao-tang-o-hong-kong-20171126065247009.htm" title="B&#237; mật th&#250; vị đằng sau những &quot;lỗ hổng&quot; si&#234;u to ngay giữa c&#225;c ng&#244;i nh&#224; cao tầng ở Hồng K&#244;ng" class="open-popup">Bí mật thú vị đằng sau những "lỗ hổng" siêu to ngay giữa các ngôi nhà cao tầng ở Hồng Kông</a>
        </h3>
        <a href="/bi-mat-thu-vi-dang-sau-nhung-lo-hong-sieu-to-ngay-giua-cac-ngoi-nha-cao-tang-o-hong-kong-20171126065247009.htm" title="B&#237; mật th&#250; vị đằng sau những &quot;lỗ hổng&quot; si&#234;u to ngay giữa c&#225;c ng&#244;i nh&#224; cao tầng ở Hồng K&#244;ng" class="post-ava open-popup">
            <img alt="B&#237; mật th&#250; vị đằng sau những &quot;lỗ hổng&quot; si&#234;u to ngay giữa c&#225;c ng&#244;i nh&#224; cao tầng ở Hồng K&#244;ng" class="lazy" data-src="http://sohanews.sohacdn.com/zoom/250_150/2017/photo1511653797323-1511653797472-0-0-372-600-crop-1511653877703.jpg" src="http://sohanews.sohacdn.com/zoom/32_20/2017/photo1511653797323-1511653797472-0-0-372-600-crop-1511653877703.jpg" />

        </a>
        <div class="sapo">
            Nếu bạn để ý kỹ thì sẽ thấy rất nhiều tòa nhà chọc trời tại Hồng Kông đều có một ...
            <div>
                <a href="/doi-song.htm" class="cat fl">Đời sống</a>

            </div>
        </div>
    </li>


    <li class="daily-hot-news clearfix">
        <h3 class="title">
            <a href="/mat-than-argus-cua-nga-xuat-binh-o-syria-tom-song-cac-tran-dia-phao-is-trong-nhay-mat-20171124154551878.htm" title="&quot;Mắt thần&quot; Argus của Nga xuất binh ở Syria: T&#243;m sống c&#225;c trận địa ph&#225;o IS trong nh&#225;y mắt" class="open-popup">"Mắt thần" Argus của Nga xuất binh ở Syria: Tóm sống các trận địa pháo IS trong nháy mắt</a>
        </h3>
        <a href="/mat-than-argus-cua-nga-xuat-binh-o-syria-tom-song-cac-tran-dia-phao-is-trong-nhay-mat-20171124154551878.htm" title="&quot;Mắt thần&quot; Argus của Nga xuất binh ở Syria: T&#243;m sống c&#225;c trận địa ph&#225;o IS trong nh&#225;y mắt" class="post-ava open-popup">
            <img alt="&quot;Mắt thần&quot; Argus của Nga xuất binh ở Syria: T&#243;m sống c&#225;c trận địa ph&#225;o IS trong nh&#225;y mắt" class="lazy" data-src="http://sohanews.sohacdn.com/zoom/250_150/2017/photo-1-1511512704487-0-0-384-618-crop-1511512763272.jpg" src="http://sohanews.sohacdn.com/zoom/32_20/2017/photo-1-1511512704487-0-0-384-618-crop-1511512763272.jpg" />

        </a>
        <div class="sapo">
            Khí tài độc đáo này của Nga đang được thử nghiệm ở Syria để trinh sát phát hiện mục tiêu ...
            <div>
                <a href="/quan-su.htm" class="cat fl">Quân Sự</a>

            </div>
        </div>
    </li>


</ul>



<div class="topic-hot">
    <div>
        <div id="interact_wrap" class="swiper-container" data-slide="{'slidesPerView': 'auto', 'direction': 'horizontal'}">
            <ul class="swiper-wrapper topic-list-items">
                <li class="swiper-slide">
                    <a href="/thoi-su.htm" onclick="trackingGA('Home', 'Click chuyên mục','Box Chuyênmục')"><i class="icon icon-social"></i>Thời sự</a>
                    <a href="/quoc-te.htm" onclick="trackingGA('Home', 'Click chuyên mục','Box Chuyênmục')"><i class="icon icon-international"></i>Quốc tế</a>
                    <a href="/kinh-doanh.htm" onclick="trackingGA('Home', 'Click chuyên mục','Box Chuyênmục')"><i class="icon icon-business"></i>Kinh doanh</a>
                    <a href="/quan-su.htm" onclick="trackingGA('Home', 'Click chuyên mục','Box Chuyênmục')"><i class="icon icon-military"></i>Quân sự</a>
                </li>
                <li class="swiper-slide">
                    <a href="/the-thao.htm" onclick="trackingGA('Home', 'Click chuyên mục','Box Chuyênmục')"><i class="icon icon-sport"></i>Thể thao</a>
                    <a href="/giai-tri.htm" onclick="trackingGA('Home', 'Click chuyên mục','Box Chuyênmục')"><i class="icon icon-relaxation"></i>Giải trí</a>
                    <a href="/cu-dan-mang.htm" onclick="trackingGA('Home', 'Click chuyên mục','Box Chuyênmục')"><i class="icon icon-network-population"></i>Cư dân mạng</a>
                    <a href="/phap-luat.htm" onclick="trackingGA('Home', 'Click chuyên mục','Box Chuyênmục')"><i class="icon icon-law"></i>Pháp luật</a>
                </li>
                <li class="swiper-slide">
                    <a href="/song-khoe.htm" onclick="trackingGA('Home', 'Click chuyên mục','Box Chuyênmục')"><i class="icon icon-health"></i>Sống khỏe</a>
                    <a href="/doi-song.htm" onclick="trackingGA('Home', 'Click chuyên mục','Box Chuyênmục')"><i class="icon icon-life"></i>Đời sống</a>
                    <a href="/infographic.htm" onclick="trackingGA('Home', 'Click chuyên mục','Box Chuyênmục')"><i class="icon icon-inforgraphic"></i>Inforgraphic</a>
                    <a href="/kham-pha.htm" onclick="trackingGA('Home', 'Click chuyên mục','Box Chuyênmục')"><i class="icon icon-discovery"></i>Khám phá</a>
                </li>
                <li class="swiper-slide">
                    <a href="/video.htm" onclick="trackingGA('Home', 'Click chuyên mục','Box Chuyênmục')"><i class="icon icon-video"></i>Video</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<ul class="list-daily-hot-news" id="list_focus3">

    <li class="daily-hot-news clearfix">
        <h3 class="title">
            <a href="/be-6-tuoi-bi-bao-ve-dan-pho-sat-hai-giua-duong-20171126194243495.htm" title="B&#233; 6 tuổi bị bảo vệ d&#226;n phố s&#225;t hại giữa đường" class="open-popup">Bé 6 tuổi bị bảo vệ dân phố sát hại giữa đường</a>
        </h3>
        <a href="/be-6-tuoi-bi-bao-ve-dan-pho-sat-hai-giua-duong-20171126194243495.htm" title="B&#233; 6 tuổi bị bảo vệ d&#226;n phố s&#225;t hại giữa đường" class="post-ava open-popup">
            <img alt="B&#233; 6 tuổi bị bảo vệ d&#226;n phố s&#225;t hại giữa đường" class="lazy" data-src="http://sohanews.sohacdn.com/zoom/240_150/2017/photo1511699980680-1511699980910-36-0-533-799-crop-1511700014499.jpg" src="http://sohanews.sohacdn.com/zoom/32_20/2017/photo1511699980680-1511699980910-36-0-533-799-crop-1511700014499.jpg" />

        </a>
        <div class="sapo">
            Nam bảo vệ dân phố đang ngồi trong chốt gác thì thấy một bé trai đi ngang qua đường liền ...
            <div>
                <a href="/phap-luat.htm" class="cat fl">Pháp luật</a>
                <span class="time fl" title="2017-11-26T20:31:00"></span>
            </div>
        </div>
    </li>



    <li class="daily-hot-news clearfix">
        <h3 class="title">
            <a href="/syria-bi-mat-trong-kho-vu-khi-khong-lo-is-bo-lai-chien-truong-deir-ez-zor-20171126190012179.htm" title="Syria: B&#237; mật trong kho vũ kh&#237; khổng lồ IS bỏ lại chiến trường Deir ez-Zor" class="open-popup">Syria: Bí mật trong kho vũ khí khổng lồ IS bỏ lại chiến trường Deir ez-Zor</a>
        </h3>
        <a href="/syria-bi-mat-trong-kho-vu-khi-khong-lo-is-bo-lai-chien-truong-deir-ez-zor-20171126190012179.htm" title="Syria: B&#237; mật trong kho vũ kh&#237; khổng lồ IS bỏ lại chiến trường Deir ez-Zor" class="post-ava open-popup">
            <img alt="Syria: B&#237; mật trong kho vũ kh&#237; khổng lồ IS bỏ lại chiến trường Deir ez-Zor" class="lazy" data-src="http://sohanews.sohacdn.com/zoom/240_150/2017/anhvukhi-1511697312358-88-0-515-687-crop-1511697319083.jpg" src="http://sohanews.sohacdn.com/zoom/32_20/2017/anhvukhi-1511697312358-88-0-515-687-crop-1511697319083.jpg" />

        </a>
        <div class="sapo">
            Một kho vũ khí khổng lồ gồm nhiều tên lửa vừa được tìm thấy bên trong căn cứ của tổ ...
            <div>
                <a href="/quan-su.htm" class="cat fl">Quân Sự</a>
                <span class="time fl" title="2017-11-26T20:30:00"></span>
            </div>
        </div>
    </li>



    <li class="daily-hot-news clearfix">
        <h3 class="title">
            <a href="/phu-huynh-dau-don-xem-video-con-bi-co-giao-dap-va-dung-binh-nhua-dap-vao-dau-20171126185216099.htm" title="Phụ huynh đau đớn xem video con bị c&#244; gi&#225;o đạp, vả, d&#249;ng b&#236;nh nhựa đập v&#224;o đầu..." class="open-popup">Phụ huynh đau đớn xem video con bị cô giáo đạp, vả, dùng bình nhựa đập vào đầu...</a>
        </h3>
        <a href="/phu-huynh-dau-don-xem-video-con-bi-co-giao-dap-va-dung-binh-nhua-dap-vao-dau-20171126185216099.htm" title="Phụ huynh đau đớn xem video con bị c&#244; gi&#225;o đạp, vả, d&#249;ng b&#236;nh nhựa đập v&#224;o đầu..." class="post-ava open-popup">
            <img alt="Phụ huynh đau đớn xem video con bị c&#244; gi&#225;o đạp, vả, d&#249;ng b&#236;nh nhựa đập v&#224;o đầu..." class="lazy" data-src="http://sohanews.sohacdn.com/zoom/240_150/2017/anh-22-1511695371851-15-261-1034-1902-crop-1511695437284.jpg" src="http://sohanews.sohacdn.com/zoom/32_20/2017/anh-22-1511695371851-15-261-1034-1902-crop-1511695437284.jpg" />

        </a>
        <div class="sapo">
            Đó là lời một phụ huynh có con bị giáo viên ở Cơ sở mầm non tư thục Mầm Xanh ...
            <div>
                <a href="/thoi-su.htm" class="cat fl">THỜI SỰ</a>
                <span class="time fl" title="2017-11-26T20:17:40"></span>
            </div>
        </div>
    </li>



    <li class="daily-hot-news clearfix">
        <h3 class="title">
            <a href="/ban-co-biet-ve-tac-hai-khong-mong-muon-cua-den-led-20171126123326806.htm" title="Bạn c&#243; biết về t&#225;c hại kh&#244;ng mong muốn của đ&#232;n LED?" class="open-popup">Bạn có biết về tác hại không mong muốn của đèn LED?</a>
        </h3>
        <a href="/ban-co-biet-ve-tac-hai-khong-mong-muon-cua-den-led-20171126123326806.htm" title="Bạn c&#243; biết về t&#225;c hại kh&#244;ng mong muốn của đ&#232;n LED?" class="post-ava open-popup">
            <img alt="Bạn c&#243; biết về t&#225;c hại kh&#244;ng mong muốn của đ&#232;n LED?" class="lazy" data-src="http://sohanews.sohacdn.com/zoom/240_150/2017/photo1511674296686-1511674296998-0-21-321-538-crop-1511674350116.jpg" src="http://sohanews.sohacdn.com/zoom/32_20/2017/photo1511674296686-1511674296998-0-21-321-538-crop-1511674350116.jpg" />

        </a>
        <div class="sapo">
            Hiện nay, đèn LED phổ biến đến mức chúng ta có thể thấy đèn LED ở khắp mọi nơi, tuy ...
            <div>
                <a href="/kham-pha.htm" class="cat fl">Khám phá</a>
                <span class="time fl" title="2017-11-26T20:06:00"></span>
            </div>
        </div>
    </li>



    <li class="daily-hot-news clearfix">
        <h3 class="title">
            <a href="/bon-dong-tac-don-gian-nham-mat-cung-lam-duoc-nhung-tac-dung-rat-tot-cho-suc-khoe-20171122234305322.htm" title="Bốn động t&#225;c đơn giản &quot;nhắm mắt cũng l&#224;m được&quot; nhưng t&#225;c dụng rất tốt cho sức khoẻ" class="open-popup">Bốn động tác đơn giản "nhắm mắt cũng làm được" nhưng tác dụng rất tốt cho sức khoẻ</a>
        </h3>
        <a href="/bon-dong-tac-don-gian-nham-mat-cung-lam-duoc-nhung-tac-dung-rat-tot-cho-suc-khoe-20171122234305322.htm" title="Bốn động t&#225;c đơn giản &quot;nhắm mắt cũng l&#224;m được&quot; nhưng t&#225;c dụng rất tốt cho sức khoẻ" class="post-ava open-popup">
            <img alt="Bốn động t&#225;c đơn giản &quot;nhắm mắt cũng l&#224;m được&quot; nhưng t&#225;c dụng rất tốt cho sức khoẻ" class="lazy" data-src="http://sohanews.sohacdn.com/zoom/240_150/2017/5-1511371149593-0-61-336-602-crop-1511371238356.jpg" src="http://sohanews.sohacdn.com/zoom/32_20/2017/5-1511371149593-0-61-336-602-crop-1511371238356.jpg" />

        </a>
        <div class="sapo">
            Theo các chuyên gia dưỡng sinh hàng đầu tại Trung Quốc, kiên trì thực hiện 4 động tác đơn giản ...
            <div>
                <a href="/song-khoe.htm" class="cat fl">Sống khỏe</a>
                <span class="time fl" title="2017-11-26T20:35:00"></span>
            </div>
        </div>
    </li>



    <li class="daily-hot-news clearfix">
        <h3 class="title">
            <a href="/mua-trung-ngong-lon-ve-quen-khong-luoc-co-gai-tu-dung-co-them-con-boss-lay-loi-20171126181433279.htm" title="Mua trứng ngỗng lộn về qu&#234;n kh&#244;ng luộc, c&#244; g&#225;i tự dưng c&#243; th&#234;m con boss lầy lội" class="open-popup">Mua trứng ngỗng lộn về quên không luộc, cô gái tự dưng có thêm con boss lầy lội</a>
        </h3>
        <a href="/mua-trung-ngong-lon-ve-quen-khong-luoc-co-gai-tu-dung-co-them-con-boss-lay-loi-20171126181433279.htm" title="Mua trứng ngỗng lộn về qu&#234;n kh&#244;ng luộc, c&#244; g&#225;i tự dưng c&#243; th&#234;m con boss lầy lội" class="post-ava open-popup">
            <img alt="Mua trứng ngỗng lộn về qu&#234;n kh&#244;ng luộc, c&#244; g&#225;i tự dưng c&#243; th&#234;m con boss lầy lội" class="lazy" data-src="http://sohanews.sohacdn.com/zoom/240_150/2017/photo1511694579698-1511694579835-0-51-314-558-crop-1511694598030.jpg" src="http://sohanews.sohacdn.com/zoom/32_20/2017/photo1511694579698-1511694579835-0-51-314-558-crop-1511694598030.jpg" />

        </a>
        <div class="sapo">
            Chỉ vì để quên trứng ngỗng lộn, cô bạn này tự nhiên có thêm một "cái đuôi" bám theo suốt ...
            <div>
                <a href="/cu-dan-mang.htm" class="cat fl">Cư dân mạng</a>
                <span class="time fl" title="2017-11-26T19:35:05"></span>
            </div>
        </div>
    </li>



    <li class="daily-hot-news clearfix">
        <h3 class="title">
            <a href="/vu-nu-cam-nhung-bi-kich-bong-hong-dat-bac-bi-danh-ghen-tat-axit-den-bien-dang-gay-rung-dong-sai-gon-mot-thoi-2017112618334951.htm" title="Vũ nữ Cẩm Nhung: Bi kịch “b&#244;ng hồng” đất Bắc bị đ&#225;nh ghen tạt axit đến biến dạng g&#226;y r&#250;ng động S&#224;i G&#242;n một thời" class="open-popup">Vũ nữ Cẩm Nhung: Bi kịch “bông hồng” đất Bắc bị đánh ghen tạt axit đến biến dạng gây rúng động Sài Gòn một thời</a>
        </h3>
        <a href="/vu-nu-cam-nhung-bi-kich-bong-hong-dat-bac-bi-danh-ghen-tat-axit-den-bien-dang-gay-rung-dong-sai-gon-mot-thoi-2017112618334951.htm" title="Vũ nữ Cẩm Nhung: Bi kịch “b&#244;ng hồng” đất Bắc bị đ&#225;nh ghen tạt axit đến biến dạng g&#226;y r&#250;ng động S&#224;i G&#242;n một thời" class="post-ava open-popup">
            <img alt="Vũ nữ Cẩm Nhung: Bi kịch “b&#244;ng hồng” đất Bắc bị đ&#225;nh ghen tạt axit đến biến dạng g&#226;y r&#250;ng động S&#224;i G&#242;n một thời" class="lazy" data-src="http://sohanews.sohacdn.com/zoom/240_150/2017/photo1511695819563-1511695819754-0-0-409-660-crop-1511695858898.jpg" src="http://sohanews.sohacdn.com/zoom/32_20/2017/photo1511695819563-1511695819754-0-0-409-660-crop-1511695858898.jpg" />

        </a>
        <div class="sapo">
            54 năm đã trôi qua kể từ ca tạt axit định mệnh ấy, vũ nữ Cẩm Nhung và bi kịch ...
            <div>
                <a href="/cu-dan-mang.htm" class="cat fl">Cư dân mạng</a>
                <span class="time fl" title="2017-11-26T21:08:00"></span>
            </div>
        </div>
    </li>



    <li class="daily-hot-news clearfix">
        <h3 class="title">
            <a href="/vo-dau-don-hon-chong-khi-nghe-bac-si-noi-het-hy-vong-cuu-chua-va-nu-hon-do-da-thay-doi-tat-ca-20171126195553121.htm" title="Vợ đau đớn h&#244;n chồng khi nghe b&#225;c sĩ n&#243;i hết hy vọng cứu chữa v&#224; nụ h&#244;n đ&#243; đ&#227; thay đổi tất cả" class="open-popup">Vợ đau đớn hôn chồng khi nghe bác sĩ nói hết hy vọng cứu chữa và nụ hôn đó đã thay đổi tất cả</a>
        </h3>
        <a href="/vo-dau-don-hon-chong-khi-nghe-bac-si-noi-het-hy-vong-cuu-chua-va-nu-hon-do-da-thay-doi-tat-ca-20171126195553121.htm" title="Vợ đau đớn h&#244;n chồng khi nghe b&#225;c sĩ n&#243;i hết hy vọng cứu chữa v&#224; nụ h&#244;n đ&#243; đ&#227; thay đổi tất cả" class="post-ava open-popup">
            <img alt="Vợ đau đớn h&#244;n chồng khi nghe b&#225;c sĩ n&#243;i hết hy vọng cứu chữa v&#224; nụ h&#244;n đ&#243; đ&#227; thay đổi tất cả" class="lazy" data-src="http://sohanews.sohacdn.com/zoom/240_150/2017/nuhon1-1511579696580-0-0-640-1024-crop-1511579985704-1511700785075-0-0-636-1024-crop-1511700791413.jpg" src="http://sohanews.sohacdn.com/zoom/32_20/2017/nuhon1-1511579696580-0-0-640-1024-crop-1511579985704-1511700785075-0-0-636-1024-crop-1511700791413.jpg" />

        </a>
        <div class="sapo">
            Nếu cổ tích có nụ hôn của công chúa biến con ếch thành hoàng tử thì ở đời thật đã ...
            <div>
                <a href="/doi-song.htm" class="cat fl">Đời sống</a>
                <span class="time fl" title="2017-11-26T21:03:00"></span>
            </div>
        </div>
    </li>

    <div class="daily-news-update-container" style="position: relative;">
        <div class="dnuc-header">
            <h3 class="dnuc-header-title">Mới nhất</h3>
        </div>
        <div class="dnuc-list-item">
            <ul class="list-dnuc-news" style="position:absolute;">

                <li class="dnuc-news">
                    <h3 class="dnuc-news-title">
                        <a href="/5-diem-nhan-cua-v-league-2017-2017112621000117.htm" onclick="trackingGA('Home', 'Click tin bất kỳ','Box Mới nhất')">5 điểm nhấn của V-League 2017<span class="time" title="2017-11-26T21:31:00"></span></a>
                    </h3>
                </li>

                <li class="dnuc-news">
                    <h3 class="dnuc-news-title">
                        <a href="/ly-do-khien-phi-nhung-khong-lay-chong-va-giau-con-ruot-suot-20-nam-20171126212839568.htm" onclick="trackingGA('Home', 'Click tin bất kỳ','Box Mới nhất')">Lý do khiến Phi Nhung không lấy chồng và giấu kín con ruột hơn 20 năm<span class="time" title="2017-11-26T21:27:00"></span></a>
                    </h3>
                </li>

                <li class="dnuc-news">
                    <h3 class="dnuc-news-title">
                        <a href="/hanh-trinh-that-thoat-800-ty-dong-cua-pvn-tai-oceanbank-20171126204605626.htm" onclick="trackingGA('Home', 'Click tin bất kỳ','Box Mới nhất')">Hành trình thất thoát 800 tỷ đồng của PVN tại OceanBank<span class="time" title="2017-11-26T21:23:45"></span></a>
                    </h3>
                </li>

                <li class="dnuc-news">
                    <h3 class="dnuc-news-title">
                        <a href="/trieu-tien-dao-hao-gan-noi-linh-chay-sang-han-quoc-20171126191630606.htm" onclick="trackingGA('Home', 'Click tin bất kỳ','Box Mới nhất')">Triều Tiên đào hào gần nơi lính chạy sang Hàn Quốc<span class="time" title="2017-11-26T21:16:00"></span></a>
                    </h3>
                </li>

                <li class="dnuc-news">
                    <h3 class="dnuc-news-title">
                        <a href="/khach-hang-to-alibaba-tai-le-mo-ban-du-an-20171126202708367.htm" onclick="trackingGA('Home', 'Click tin bất kỳ','Box Mới nhất')">Khách hàng "tố" Alibaba tại lễ mở bán dự án<span class="time" title="2017-11-26T21:16:00"></span></a>
                    </h3>
                </li>

                <li class="dnuc-news">
                    <h3 class="dnuc-news-title">
                        <a href="/chuong-trinh-hat-nhan-trieu-tien-khong-nham-vao-bat-ki-nuoc-nao-ngoai-my-20171126190500086.htm" onclick="trackingGA('Home', 'Click tin bất kỳ','Box Mới nhất')">"Chương trình hạt nhân Triều Tiên không nhằm vào bất kì nước nào ngoài Mỹ"<span class="time" title="2017-11-26T21:15:00"></span></a>
                    </h3>
                </li>

                <li class="dnuc-news">
                    <h3 class="dnuc-news-title">
                        <a href="/khong-phai-messi-barca-dang-song-nho-ter-stegen-20171126205639744.htm" onclick="trackingGA('Home', 'Click tin bất kỳ','Box Mới nhất')">Không phải Messi, Barca đang sống nhờ Ter Stegen!<span class="time" title="2017-11-26T21:11:00"></span></a>
                    </h3>
                </li>

                <li class="dnuc-news">
                    <h3 class="dnuc-news-title">
                        <a href="/ha-noi-lua-boc-chay-ngun-ngut-ben-ngoai-big-c-ha-dong-hang-tram-nguoi-hot-hoang-bo-chay-20171126203441464.htm" onclick="trackingGA('Home', 'Click tin bất kỳ','Box Mới nhất')">Hà Nội: Lửa bốc cháy ngùn ngụt bên ngoài Big C Hà Đông, hàng trăm người hốt hoảng bỏ chạy<span class="time" title="2017-11-26T21:10:35"></span></a>
                    </h3>
                </li>

                <li class="dnuc-news">
                    <h3 class="dnuc-news-title">
                        <a href="/vu-nu-cam-nhung-bi-kich-bong-hong-dat-bac-bi-danh-ghen-tat-axit-den-bien-dang-gay-rung-dong-sai-gon-mot-thoi-2017112618334951.htm" onclick="trackingGA('Home', 'Click tin bất kỳ','Box Mới nhất')">Vũ nữ Cẩm Nhung: Bi kịch “bông hồng” đất Bắc bị đánh ghen tạt axit đến biến dạng gây rúng động Sài Gòn một thời<span class="time" title="2017-11-26T21:08:00"></span></a>
                    </h3>
                </li>

                <li class="dnuc-news">
                    <h3 class="dnuc-news-title">
                        <a href="/lieu-dinh-vi-bang-tieng-vang-co-phai-giac-quan-thu-6-cua-con-nguoi-20171125142841228.htm" onclick="trackingGA('Home', 'Click tin bất kỳ','Box Mới nhất')">Liệu định vị bằng tiếng vang có phải giác quan thứ 6 của con người?<span class="time" title="2017-11-26T21:06:00"></span></a>
                    </h3>
                </li>

                <li class="dnuc-news">
                    <h3 class="dnuc-news-title">
                        <a href="/10-doi-tuong-bi-de-nghi-muc-an-100-nam-tu-20171126193805763.htm" onclick="trackingGA('Home', 'Click tin bất kỳ','Box Mới nhất')">10 đối tượng bị đề nghị mức án 100 năm tù<span class="time" title="2017-11-26T21:03:00"></span></a>
                    </h3>
                </li>

                <li class="dnuc-news">
                    <h3 class="dnuc-news-title">
                        <a href="/vo-dau-don-hon-chong-khi-nghe-bac-si-noi-het-hy-vong-cuu-chua-va-nu-hon-do-da-thay-doi-tat-ca-20171126195553121.htm" onclick="trackingGA('Home', 'Click tin bất kỳ','Box Mới nhất')">Vợ đau đớn hôn chồng khi nghe bác sĩ nói hết hy vọng cứu chữa và nụ hôn đó đã thay đổi tất cả<span class="time" title="2017-11-26T21:03:00"></span></a>
                    </h3>
                </li>

                <li class="dnuc-news">
                    <h3 class="dnuc-news-title">
                        <a href="/nepal-tong-tuyen-cu-sau-khi-cham-dut-che-do-quan-chu-lap-hien-20171126192030279.htm" onclick="trackingGA('Home', 'Click tin bất kỳ','Box Mới nhất')">Nepal tổng tuyển cử sau khi chấm dứt chế độ quân chủ lập hiến<span class="time" title="2017-11-26T20:51:00"></span></a>
                    </h3>
                </li>

                <li class="dnuc-news">
                    <h3 class="dnuc-news-title">
                        <a href="/berlusconi-thang-kien-nhan-lai-60-trieu-euro-tu-vo-cu-20171126205132465.htm" onclick="trackingGA('Home', 'Click tin bất kỳ','Box Mới nhất')">Berlusconi thắng kiện, nhận lại 60 triệu euro từ vợ cũ<span class="time" title="2017-11-26T20:50:05"></span></a>
                    </h3>
                </li>

                <li class="dnuc-news">
                    <h3 class="dnuc-news-title">
                        <a href="/tinh-than-khoi-nghiep-cua-ty-phu-viet-nam-dau-tien-lot-vao-danh-sach-500-nguoi-giau-nhat-hanh-tinh-20171126202108044.htm" onclick="trackingGA('Home', 'Click tin bất kỳ','Box Mới nhất')">Tinh thần khởi nghiệp của tỷ phú Việt Nam đầu tiên lọt vào danh sách 500 người giàu nhất hành tinh<span class="time" title="2017-11-26T20:40:00"></span></a>
                    </h3>
                </li>

                <li class="dnuc-news">
                    <h3 class="dnuc-news-title">
                        <a href="/bon-dong-tac-don-gian-nham-mat-cung-lam-duoc-nhung-tac-dung-rat-tot-cho-suc-khoe-20171122234305322.htm" onclick="trackingGA('Home', 'Click tin bất kỳ','Box Mới nhất')">Bốn động tác đơn giản "nhắm mắt cũng làm được" nhưng tác dụng rất tốt cho sức khoẻ<span class="time" title="2017-11-26T20:35:00"></span></a>
                    </h3>
                </li>

                <li class="dnuc-news">
                    <h3 class="dnuc-news-title">
                        <a href="/chuong-trinh-hat-nhan-trieu-tien-khong-nham-vao-bat-ki-nuoc-nao-ngoai-my-nguoi-linh-20171126190137222.htm" onclick="trackingGA('Home', 'Click tin bất kỳ','Box Mới nhất')">‘Chương trình hạt nhân Triều Tiên không nhằm vào bất kì nước nào ngoài Mỹ’<span class="time" title="2017-11-26T20:33:00"></span></a>
                    </h3>
                </li>

                <li class="dnuc-news">
                    <h3 class="dnuc-news-title">
                        <a href="/be-6-tuoi-bi-bao-ve-dan-pho-sat-hai-giua-duong-20171126194243495.htm" onclick="trackingGA('Home', 'Click tin bất kỳ','Box Mới nhất')">Bé 6 tuổi bị bảo vệ dân phố sát hại giữa đường<span class="time" title="2017-11-26T20:31:00"></span></a>
                    </h3>
                </li>

                <li class="dnuc-news">
                    <h3 class="dnuc-news-title">
                        <a href="/hau-ve-vo-danh-lap-ky-luc-kho-tin-ronaldo-lukaku-aguero-cung-phai-cui-dau-nhan-thua-20171126203201036.htm" onclick="trackingGA('Home', 'Click tin bất kỳ','Box Mới nhất')">Hậu vệ vô danh lập kỷ lục khó tin, Ronaldo, Lukaku, Aguero cũng phải "cúi đầu nhận thua"<span class="time" title="2017-11-26T20:30:34"></span></a>
                    </h3>
                </li>

                <li class="dnuc-news">
                    <h3 class="dnuc-news-title">
                        <a href="/syria-bi-mat-trong-kho-vu-khi-khong-lo-is-bo-lai-chien-truong-deir-ez-zor-20171126190012179.htm" onclick="trackingGA('Home', 'Click tin bất kỳ','Box Mới nhất')">Syria: Bí mật trong kho vũ khí khổng lồ IS bỏ lại chiến trường Deir ez-Zor<span class="time" title="2017-11-26T20:30:00"></span></a>
                    </h3>
                </li>

            </ul>
        </div>
        <div id="slider_range"></div>
    </div>
    <script type="text/javascript">
    (runinit = window.runinit || []).push(function () {
        rangeSlider();
    });
    </script>


    <li class="daily-hot-news clearfix">
        <h3 class="title">
            <a href="/chuong-trinh-hat-nhan-trieu-tien-khong-nham-vao-bat-ki-nuoc-nao-ngoai-my-nguoi-linh-20171126190137222.htm" title="‘Chương tr&#236;nh hạt nh&#226;n Triều Ti&#234;n kh&#244;ng nhằm v&#224;o bất k&#236; nước n&#224;o ngo&#224;i Mỹ’" class="open-popup">‘Chương trình hạt nhân Triều Tiên không nhằm vào bất kì nước nào ngoài Mỹ’</a>
        </h3>
        <a href="/chuong-trinh-hat-nhan-trieu-tien-khong-nham-vao-bat-ki-nuoc-nao-ngoai-my-nguoi-linh-20171126190137222.htm" title="‘Chương tr&#236;nh hạt nh&#226;n Triều Ti&#234;n kh&#244;ng nhằm v&#224;o bất k&#236; nước n&#224;o ngo&#224;i Mỹ’" class="post-ava open-popup">
            <img alt="‘Chương tr&#236;nh hạt nh&#226;n Triều Ti&#234;n kh&#244;ng nhằm v&#224;o bất k&#236; nước n&#224;o ngo&#224;i Mỹ’" class="lazy" data-src="http://sohanews.sohacdn.com/zoom/240_150/2017/trieutienhatnhanctej-1511697621333-0-0-413-665-crop-1511697625370.jpg" src="http://sohanews.sohacdn.com/zoom/32_20/2017/trieutienhatnhanctej-1511697621333-0-0-413-665-crop-1511697625370.jpg" />

        </a>
        <div class="sapo">
            Một quan chức cấp cao của Triều Tiên khẳng định các quốc gia khác ngoài Mỹ không cần sợ hãi ...
            <div>
                <a href="/quoc-te.htm" class="cat fl">Quốc tế</a>
                <span class="time fl" title="2017-11-26T20:33:00"></span>
            </div>
        </div>
    </li>



    <li class="daily-hot-news clearfix">
        <h3 class="title">
            <a href="/nhan-nuoi-dua-tre-tu-co-nhi-vien-cap-vo-chong-phat-hien-nha-bi-pha-hoai-vi-ly-do-dau-long-20171126194333681.htm" title="Nhận nu&#244;i đứa trẻ từ c&#244; nhi viện, cặp vợ chồng ph&#225;t hiện nh&#224; bị ph&#225; hoại v&#236; l&#253; do đau l&#242;ng" class="open-popup">Nhận nuôi đứa trẻ từ cô nhi viện, cặp vợ chồng phát hiện nhà bị phá hoại vì lý do đau lòng</a>
        </h3>
        <a href="/nhan-nuoi-dua-tre-tu-co-nhi-vien-cap-vo-chong-phat-hien-nha-bi-pha-hoai-vi-ly-do-dau-long-20171126194333681.htm" title="Nhận nu&#244;i đứa trẻ từ c&#244; nhi viện, cặp vợ chồng ph&#225;t hiện nh&#224; bị ph&#225; hoại v&#236; l&#253; do đau l&#242;ng" class="post-ava open-popup">
            <img alt="Nhận nu&#244;i đứa trẻ từ c&#244; nhi viện, cặp vợ chồng ph&#225;t hiện nh&#224; bị ph&#225; hoại v&#236; l&#253; do đau l&#242;ng" class="lazy" data-src="http://sohanews.sohacdn.com/zoom/240_150/2017/photo-2-1511699685531-0-41-384-659-crop-1511699899276.jpeg" src="http://sohanews.sohacdn.com/zoom/32_20/2017/photo-2-1511699685531-0-41-384-659-crop-1511699899276.jpeg" />

        </a>
        <div class="sapo">
            Những từ ngữ đầy thù hận, kì thị màu đỏ rực đã được xịt đầy trên tường nhà anh chị. ...
            <div>
                <a href="/doi-song.htm" class="cat fl">Đời sống</a>
                <span class="time fl" title="2017-11-26T20:13:00"></span>
            </div>
        </div>
    </li>



    <li class="daily-hot-news clearfix">
        <h3 class="title">
            <a href="/cam-may-do-kim-loai-di-khap-canh-dong-nguoi-dan-ong-gat-hai-duoc-thanh-qua-khong-tin-noi-2017112619310085.htm" title="Cầm m&#225;y d&#242; kim loại đi khắp c&#225;nh đồng, người đ&#224;n &#244;ng gặt h&#225;i được th&#224;nh quả kh&#244;ng tin nổi" class="open-popup">Cầm máy dò kim loại đi khắp cánh đồng, người đàn ông gặt hái được thành quả không tin nổi</a>
        </h3>
        <a href="/cam-may-do-kim-loai-di-khap-canh-dong-nguoi-dan-ong-gat-hai-duoc-thanh-qua-khong-tin-noi-2017112619310085.htm" title="Cầm m&#225;y d&#242; kim loại đi khắp c&#225;nh đồng, người đ&#224;n &#244;ng gặt h&#225;i được th&#224;nh quả kh&#244;ng tin nổi" class="post-ava open-popup">
            <img alt="Cầm m&#225;y d&#242; kim loại đi khắp c&#225;nh đồng, người đ&#224;n &#244;ng gặt h&#225;i được th&#224;nh quả kh&#244;ng tin nổi" class="lazy" data-src="http://sohanews.sohacdn.com/zoom/240_150/2017/photo-2-1511699182140-85-0-494-660-crop-1511699281696.jpg" src="http://sohanews.sohacdn.com/zoom/32_20/2017/photo-2-1511699182140-85-0-494-660-crop-1511699281696.jpg" />

        </a>
        <div class="sapo">
            Không ngờ rằng người truy tìm kho báu lại có thật và thậm chí ông ấy còn phát hiện ra ...
            <div>
                <a href="/doi-song.htm" class="cat fl">Đời sống</a>
                <span class="time fl" title="2017-11-26T19:31:00"></span>
            </div>
        </div>
    </li>



    <li class="daily-hot-news clearfix">
        <h3 class="title">
            <a href="/tq-dap-tra-bo-doi-su-30-mki-va-brahmos-bang-de-xuat-hay-cho-gau-nga-an-nhieu-mat-ngot-20171126132728962.htm" title="TQ đ&#225;p trả bộ đ&#244;i Su-30 MKI v&#224; BrahMos bằng đề xuất: “H&#227;y cho Gấu Nga ăn nhiều mật ngọt”" class="open-popup">TQ đáp trả bộ đôi Su-30 MKI và BrahMos bằng đề xuất: “Hãy cho Gấu Nga ăn nhiều mật ngọt”</a>
        </h3>
        <a href="/tq-dap-tra-bo-doi-su-30-mki-va-brahmos-bang-de-xuat-hay-cho-gau-nga-an-nhieu-mat-ngot-20171126132728962.htm" title="TQ đ&#225;p trả bộ đ&#244;i Su-30 MKI v&#224; BrahMos bằng đề xuất: “H&#227;y cho Gấu Nga ăn nhiều mật ngọt”" class="post-ava open-popup">
            <img alt="TQ đ&#225;p trả bộ đ&#244;i Su-30 MKI v&#224; BrahMos bằng đề xuất: “H&#227;y cho Gấu Nga ăn nhiều mật ngọt”" class="lazy" data-src="http://sohanews.sohacdn.com/zoom/240_150/2017/sukhoi1-1511396746798-0-26-414-694-crop-1511677359196.jpg" src="http://sohanews.sohacdn.com/zoom/32_20/2017/sukhoi1-1511396746798-0-26-414-694-crop-1511677359196.jpg" />

        </a>
        <div class="sapo">
            Các chuyên gia quốc phòng Trung Quốc cho rằng, nước này có thể ngăn cản hoặc giới hạn Ấn Độ ...
            <div>
                <a href="/quan-su.htm" class="cat fl">Quân Sự</a>
                <span class="time fl" title="2017-11-26T19:30:00"></span>
            </div>
        </div>
    </li>



    <li class="daily-hot-news clearfix">
        <h3 class="title">
            <a href="/nhung-cap-doi-viet-co-tuong-phu-the-nhu-sinh-ra-de-danh-cho-nhau-20171126165500096.htm" title="Những cặp đ&#244;i Việt c&#243; &quot;tướng phu th&#234;&quot; như sinh ra để d&#224;nh cho nhau" class="open-popup">Những cặp đôi Việt có "tướng phu thê" như sinh ra để dành cho nhau</a>
        </h3>
        <a href="/nhung-cap-doi-viet-co-tuong-phu-the-nhu-sinh-ra-de-danh-cho-nhau-20171126165500096.htm" title="Những cặp đ&#244;i Việt c&#243; &quot;tướng phu th&#234;&quot; như sinh ra để d&#224;nh cho nhau" class="post-ava open-popup">
            <img alt="Những cặp đ&#244;i Việt c&#243; &quot;tướng phu th&#234;&quot; như sinh ra để d&#224;nh cho nhau" class="lazy" data-src="http://sohanews.sohacdn.com/zoom/240_150/2017/photo1511689906346-1511689906578-0-0-314-507-crop-1511690028068.jpg" src="http://sohanews.sohacdn.com/zoom/32_20/2017/photo1511689906346-1511689906578-0-0-314-507-crop-1511690028068.jpg" />

        </a>
        <div class="sapo">
            Nếu xứ sở Kim Chi có cặp đôi Song - Song sở hữu ngoại hình chuẩn "tướng phu thê" thì ...
            <div>
                <a href="/giai-tri.htm" class="cat fl">Giải trí</a>
                <span class="time fl" title="2017-11-26T16:53:32"></span>
            </div>
        </div>
    </li>



    <li class="daily-hot-news clearfix">
        <h3 class="title">
            <a href="/mat-ong-de-lau-nam-co-doc-20171126133014978.htm" title="Mật ong để l&#226;u năm, c&#243; độc?" class="open-popup">Mật ong để lâu năm, có độc?</a>
        </h3>
        <a href="/mat-ong-de-lau-nam-co-doc-20171126133014978.htm" title="Mật ong để l&#226;u năm, c&#243; độc?" class="post-ava open-popup">
            <img alt="Mật ong để l&#226;u năm, c&#243; độc?" class="lazy" data-src="http://sohanews.sohacdn.com/zoom/240_150/2017/photo1511676793385-1511676793935-0-0-310-499-crop-1511677670515.jpg" src="http://sohanews.sohacdn.com/zoom/32_20/2017/photo1511676793385-1511676793935-0-0-310-499-crop-1511677670515.jpg" />

        </a>
        <div class="sapo">
            Chuyện kể về một trường hợp dùng mật ong để lâu năm chữa bệnh, kết quả lành bệnh này nhưng ...
            <div>
                <a href="/song-khoe.htm" class="cat fl">Sống khỏe</a>
                <span class="time fl" title="2017-11-26T15:37:00"></span>
            </div>
        </div>
    </li>



    <li class="daily-hot-news clearfix">
        <h3 class="title">
            <a href="/khong-phai-luong-cao-hay-bom-tan-hlv-miura-can-nhat-dieu-nay-tu-cong-vinh-20171126142631994.htm" title="Kh&#244;ng phải lương cao hay &quot;bom tấn&quot;, HLV Miura cần nhất điều n&#224;y từ C&#244;ng Vinh" class="open-popup">Không phải lương cao hay "bom tấn", HLV Miura cần nhất điều này từ Công Vinh</a>
        </h3>
        <a href="/khong-phai-luong-cao-hay-bom-tan-hlv-miura-can-nhat-dieu-nay-tu-cong-vinh-20171126142631994.htm" title="Kh&#244;ng phải lương cao hay &quot;bom tấn&quot;, HLV Miura cần nhất điều n&#224;y từ C&#244;ng Vinh" class="post-ava open-popup">
            <img alt="Kh&#244;ng phải lương cao hay &quot;bom tấn&quot;, HLV Miura cần nhất điều n&#224;y từ C&#244;ng Vinh" class="lazy" data-src="http://sohanews.sohacdn.com/zoom/240_150/2017/congvinh0011-1483887013227-copy-1511681009512-6-0-415-660-crop-1511681016978.jpg" src="http://sohanews.sohacdn.com/zoom/32_20/2017/congvinh0011-1483887013227-copy-1511681009512-6-0-415-660-crop-1511681016978.jpg" />

        </a>
        <div class="sapo">
            Một trong những "vết đen" khó quên trong mùa giải đóng vai trò quyền chủ tịch CLB TP HCM của ...
            <div>
                <a href="/the-thao.htm" class="cat fl">Thể thao</a>
                <span class="time fl" title="2017-11-26T14:25:04"></span>
            </div>
        </div>
    </li>



    <li class="daily-hot-news clearfix">
        <h3 class="title">
            <a href="/ten-lua-iskander-e-khong-the-canh-tranh-lai-a300-cua-trung-quoc-tren-thi-truong-vu-khi-20171124010130343.htm" title="T&#234;n lửa Iskander-E kh&#244;ng thể cạnh tranh lại A300 của Trung Quốc tr&#234;n thị trường vũ kh&#237;?" class="open-popup">Tên lửa Iskander-E không thể cạnh tranh lại A300 của Trung Quốc trên thị trường vũ khí?</a>
        </h3>
        <a href="/ten-lua-iskander-e-khong-the-canh-tranh-lai-a300-cua-trung-quoc-tren-thi-truong-vu-khi-20171124010130343.htm" title="T&#234;n lửa Iskander-E kh&#244;ng thể cạnh tranh lại A300 của Trung Quốc tr&#234;n thị trường vũ kh&#237;?" class="post-ava open-popup">
            <img alt="T&#234;n lửa Iskander-E kh&#244;ng thể cạnh tranh lại A300 của Trung Quốc tr&#234;n thị trường vũ kh&#237;?" class="lazy" data-src="http://sohanews.sohacdn.com/zoom/240_150/2017/a300-1511459327112-27-0-400-599-crop-1511459332278.jpg" src="http://sohanews.sohacdn.com/zoom/32_20/2017/a300-1511459327112-27-0-400-599-crop-1511459332278.jpg" />

        </a>
        <div class="sapo">
            Việc Quân đội Belarus đặt niềm tin vào pháo phản lực phóng loạt Polonez-M chế tạo dựa trên A300 của ...
            <div>
                <a href="/quan-su.htm" class="cat fl">Quân Sự</a>
                <span class="time fl" title="2017-11-26T13:30:00"></span>
            </div>
        </div>
    </li>



    <li class="daily-hot-news clearfix">
        <h3 class="title">
            <a href="/ngoi-mo-he-lo-tham-kich-dam-mau-vi-dau-vo-tac-thien-tru-di-ca-ho-vi-trung-than-mot-long-pho-ta-ba-20171126125134806.htm" title="Ng&#244;i mộ h&#233; lộ thảm kịch đẫm m&#225;u: V&#236; đ&#226;u V&#245; Tắc Thi&#234;n tru di cả họ vị trung thần một l&#242;ng ph&#242; t&#225; b&#224;?" class="open-popup">Ngôi mộ hé lộ thảm kịch đẫm máu: Vì đâu Võ Tắc Thiên tru di cả họ vị trung thần một lòng phò tá bà?</a>
        </h3>
        <a href="/ngoi-mo-he-lo-tham-kich-dam-mau-vi-dau-vo-tac-thien-tru-di-ca-ho-vi-trung-than-mot-long-pho-ta-ba-20171126125134806.htm" title="Ng&#244;i mộ h&#233; lộ thảm kịch đẫm m&#225;u: V&#236; đ&#226;u V&#245; Tắc Thi&#234;n tru di cả họ vị trung thần một l&#242;ng ph&#242; t&#225; b&#224;?" class="post-ava open-popup">
            <img alt="Ng&#244;i mộ h&#233; lộ thảm kịch đẫm m&#225;u: V&#236; đ&#226;u V&#245; Tắc Thi&#234;n tru di cả họ vị trung thần một l&#242;ng ph&#242; t&#225; b&#224;?" class="lazy" data-src="http://sohanews.sohacdn.com/zoom/240_150/2017/photo1511675249199-1511675249742-0-51-314-558-crop-1511675402258.jpg" src="http://sohanews.sohacdn.com/zoom/32_20/2017/photo1511675249199-1511675249742-0-51-314-558-crop-1511675402258.jpg" />

        </a>
        <div class="sapo">
            Cách đây đúng 1300 năm trước, Diêm Thức Vi, một đại trung thần có công phò tá Võ Tắc Thiên ...
            <div>
                <a href="/doi-song.htm" class="cat fl">Đời sống</a>
                <span class="time fl" title="2017-11-26T12:50:07"></span>
            </div>
        </div>
    </li>



    <li class="daily-hot-news clearfix">
        <h3 class="title">
            <a href="/lan-dau-ve-ra-mat-nha-nguoi-yeu-chang-trai-khien-bo-vo-tuong-lai-rut-dieu-cay-co-thu-20171126075040056.htm" title="Lần đầu về ra mắt nh&#224; người y&#234;u, ch&#224;ng trai khiến bố vợ tương lai r&#250;t điếu c&#224;y cố thủ" class="open-popup">Lần đầu về ra mắt nhà người yêu, chàng trai khiến bố vợ tương lai rút điếu cày cố thủ</a>
        </h3>
        <a href="/lan-dau-ve-ra-mat-nha-nguoi-yeu-chang-trai-khien-bo-vo-tuong-lai-rut-dieu-cay-co-thu-20171126075040056.htm" title="Lần đầu về ra mắt nh&#224; người y&#234;u, ch&#224;ng trai khiến bố vợ tương lai r&#250;t điếu c&#224;y cố thủ" class="post-ava open-popup">
            <img alt="Lần đầu về ra mắt nh&#224; người y&#234;u, ch&#224;ng trai khiến bố vợ tương lai r&#250;t điếu c&#224;y cố thủ" class="lazy" data-src="http://sohanews.sohacdn.com/zoom/240_150/2017/photo1511657218867-1511657219376-0-43-314-550-crop-1511657235390.jpg" src="http://sohanews.sohacdn.com/zoom/32_20/2017/photo1511657218867-1511657219376-0-43-314-550-crop-1511657235390.jpg" />

        </a>
        <div class="sapo">
            Về ra mắt nhà bạn gái lần đầu tiên, chàng trai đã khiến bố vợ tương lai rút điếu cày, ...
            <div>
                <a href="/cu-dan-mang.htm" class="cat fl">Cư dân mạng</a>
                <span class="time fl" title="2017-11-26T09:46:15"></span>
            </div>
        </div>
    </li>




</ul>
<div id="list-home-categories">
    <div class="view_more home" onclick="loadHomePageBox('#list-home-categories');">Xem thêm</div>
</div>

