<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <title>Tin tức tổng hợp, tin nhanh mới nhất trong ngày | soha.vn</title>
    <meta name="description" content="Cập nhập tin tức sự kiện, báo mới nhất ở VN, các TIN NHANH độc quyền phản ánh đầy đủ chuyển động kinh tế &amp; xã hội Việt Nam, thế giới trong 24h qua." />
    <meta name="keywords" content="tin tức, tin tức tổng hợp, tin nhanh, tin nhanh mới,đọc báo trên di động,đọc báo trên điện thoại,thể thao văn hóa,tin nóng,sự kiện,pháp luật,xã hội,giải trí,thể thao,tin tức,thời sự,tin vắn" />
    <meta name="news_keywords" content="tin tức, tin tức tổng hợp, tin nhanh, tin nhanh mới,đọc báo trên di động,đọc báo trên điện thoại,thể thao văn hóa,tin nóng,sự kiện,pháp luật,xã hội,giải trí,thể thao,tin tức,thời sự,tin vắn" />
    <link rel="canonical" href="soha_default_2.html" />
    <link rel="alternate" href="http://m.soha.vn/" media="only screen and (max-width: 640px)" />
    <link rel="alternate" href="http://m.soha.vn/" media="handheld" />
    <link rel="alternate" href="tin-moi-nhat.xml" type="application/rss+xml" title="Tin tức tổng hợp, tin nhanh mới nhất trong ngày" />
    <!--[if lt IE 7 ]>
        <noscript><meta http-equiv="refresh" content="0; url='http://soha4.sohacdn.com/old-browser.htm'" /></noscript>
        <script type="text/javascript">
            window.location.href = 'http://soha4.sohacdn.com/old-browser.htm';
        </script>
        <![endif]-->
    <meta name="google-site-verification" content="TNthD0oe_3DoN9R-iWnUdKdxiCLOBl6mKowgwXJh8tc" />


    <meta name="robots" content="index,follow,all" />



    <meta property="og:locale" content="vi_VN" />
    <meta property="fb:app_id" content="150439901816779" />
    <meta property="fb:admins" content="1133617216" />
    <meta property="fb:article_style" content="soha-01">
    <meta property="op:markup_version" content="v1.0">
    <meta name="generator" content="VCCorp.vn" />
    <meta name="copyright" content="Công ty Cổ phần VCCorp" />
    <meta name="author" content="VCCorp.vn" />
    <meta http-equiv="audience" content="General" />
    <meta name="resource-type" content="Document" />
    <meta name="distribution" content="Global" />
    <meta name="revisit-after" content="1 days" />
    <link rel="shortcut icon" type="image/ico" href="sohanews.sohacdn.com/Icons/soha-1200x630.jpg">
    <meta name="apple-mobile-web-app-title" content="Soha" />
    <meta name="application-name" content="Soha" />
    <link rel="shortcut icon" href="sohanews.sohacdn.com/Icons/soha-32.png" type="image/png" />
    <link rel="apple-touch-icon" sizes="57x57" href="sohanews.sohacdn.com/Icons/soha-57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="sohanews.sohacdn.com/Icons/soha-60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="sohanews.sohacdn.com/Icons/soha-72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="sohanews.sohacdn.com/Icons/soha-76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="sohanews.sohacdn.com/Icons/soha-114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="sohanews.sohacdn.com/Icons/soha-120.png" />
    <link rel="apple-touch-icon" sizes="128x128" href="sohanews.sohacdn.com/Icons/soha-128.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="sohanews.sohacdn.com/Icons/soha-144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="sohanews.sohacdn.com/Icons/soha-152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="sohanews.sohacdn.com/Icons/soha-180.png" />
    <link rel="icon" type="image/png" href="sohanews.sohacdn.com/Icons/soha-32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="sohanews.sohacdn.com/Icons/soha-192.png" sizes="192x192" />
    <link rel="icon" type="image/png" href="sohanews.sohacdn.com/Icons/soha-96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="sohanews.sohacdn.com/Icons/soha-16.png" sizes="16x16" />

    <!-- đặt style -->
    <link rel="stylesheet" href="sohanews.sohacdn.com/web_css/css-home.331.css" />
    <noscript>
        <style type="text/css">
            img.lazy {
                display: none;
            }
        </style>
    </noscript>

    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments);
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g;
        m.parentNode.insertBefore(a, m);
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-34575478-21', 'auto');
    ga('send', 'pageview');
    </script>
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34575478-32']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>



    <!--[if lt IE 9]>
    <script src="http://soha4.sohacdn.com/scripts/lib/html5.js"></script>
    <![endif]-->



    <meta id="fbImage" itemprop="thumbnailUrl" property="og:image" content="https://sohanews.sohacdn.com/Icons/soha-1200x630.jpg" />
    <script type="text/javascript">
        var _ADM_Channel = '%2fhome%2f';
    </script>
    <style>
        .list-special-news .brand-content.k14topic-sapo, .list-topic-cate .brand-content.k14topic-sapo {
            margin-top: 10px;
            padding-bottom: 0;
        }

        .list-special-news .item-special-new.small .brand-content.k14topic-sapo {
            margin-left: 18px;
        }
        #insbox{width:970px !important}
        .inszone1box{max-width:970px !important}
        .box_3 .box_content{width:970px !important}
        .box_3 .ttt{width:660px !important}
        .box_3 .title{width:660px !important}
        .box_3 .title,.box_3 .title a{width:660px !important}
    </style>


    <script src="media1.admicro.vn/suts/pcl.js" type="text/javascript" async="async"></script>
    <script src="media1.admicro.vn/core/adm_tracking.js" type="text/javascript" async="async"></script>
    <script>
    var _comscore = _comscore || [];
    _comscore.push({ c1: "2", c2: "17793284" });
    (function () {
        var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
        s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
        el.parentNode.insertBefore(s, el);
    })();
    </script>
    <noscript>
        <img src="b.scorecardresearch.com/p.gif" />
    </noscript>
    <script src="sentry.mediacdn.vn/raven.min.js"></script>
    <script type="text/javascript">
        /*mobile*/
        var isSportPage = 0;
        function setCookieMobileRedirect(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + "; " + expires;
        }

        function CheckMobileRedirect() {
            try {
                //check session on client
                if (typeof (Storage) !== "undefined") {
                    var session = sessionStorage.getItem("VisitSession");
                    if (session == null) {
                        //phien lam viec moi
                        sessionStorage.setItem("VisitSession", "1");

                        var hash = window.location.hash;
                        if (hash == "#first") {
                            //link được redirect từ bản mobile sang thì không làm gì.
                            window.history.replaceState("", "", window.location.href.split('#')[0]);
                        }
                        else {
                            //nếu không phải link đá từ mobile thì remove cookie ở đây.
                            setCookieMobileRedirect("browser", "", -1);
                            //reload lại trang để hệ thống chuyển về bản mobile.
                            if (navigator.userAgent.match(/(iPhone|iPod|iPad|Android|BlackBerry|Windows Phone|webOS)/i) != null) {
                                window.location = window.location.href;
                            }
                        }
                    } else {
                        //van dang o phien lam viec cu thi khong lam gi.
                    }
                }
            } catch (e) {
                console.log("Lỗi check mobile redirect: " + e);
            }

        }
        //check mobile
        CheckMobileRedirect();
        /*end mobile*/

    </script>
    <script type="text/javascript">var appSettings = {domain:'http://soha.vn',imageDomain:'http://sohanews.sohacdn.com',videoImageDomain:'http://video-thumbs.mediacdn.vn',ajaxDomain:'http://s1.soha.vn',allowVietId:true, allowFacebook:true, videoHdDomain:'http://vcplayer.mediacdn.vn/1.1'};</script>
    <script type="text/javascript" src="sohanews.sohacdn.com/web_js/js-home-async.331.js" async></script>


    <script>
        (runinit = window.runinit || []).push(function () { loadJsAsync('https://mingid.mediacdn.vn/js/mingid_core.js', function () { }); });
    </script>
    <style>
        
        .menudetailapec {
            width: 100%;
            float: left;
            height: 50px;
            background: url("https://sohanews.sohacdn.com/web_images/bgmenuapecdetail.png") no-repeat center;
            margin-bottom: 10px;
        }

        .w1040 {
            width: 1040px;
            margin: 0 auto;
        }

        .menudetailapec li {
            float: left;
            height: 39px;
            margin-right: 30px;
        }

            .menudetailapec li a {
                font-family: 'SFD-SemiBold';
                font-size: 16px;
                font-weight: normal;
                color: #fff;
                display: inline-block;
                text-transform: uppercase;
                line-height: 50px;
            }

                .menudetailapec li a.active {
                    border-bottom: 2px solid #1de8ce;
                    line-height: 50px;
                    height: 48px;
                }
    </style>
</head>
<body>
    <script type="text/javascript">
        var admicroAD = admicroAD || {};
        admicroAD.unit = admicroAD.unit || [];
    </script>
    <script type="text/javascript" src="media1.admicro.vn/core/admcore.js" async="async"></script>

    <div id="admWrapsite">
        
        <div class="page-header">
            <div class="page-top">
                <div class="w980 mgauto clearfix">
                    <div class="fl link">
                        <h1 title="Tin tức tổng hợp, tin nhanh mới nhất trong ngày"><a href="soha_default_2.html" title="Tin tức tổng hợp, tin nhanh mới nhất trong ngày">Tin tức</a></h1><a href="afamily.vn/afamily_default.html" title="Gia đình" target="_blank">Afamily</a><a href="kenh14.vn/kenh14_default.html" title="Giải trí" target="_blank">Kenh14</a><a href="autopro.com.vn/autopro_com_default.html" title="ô tô" target="_blank">Autopro</a><a href="genk.vn/genk_default.html" title="Công nghệ" target="_blank">GenK</a><a href="gamek.vn/gamek_default.html" title="GameK" target="_blank">GameK</a>
                    </div>
                    <div class="fr action">
                        <span class="item hotline"><i class="ico-hotline"></i>Hotline: <b>0943 113 999</b></span>
                        <span class="item trigger search">
                            Tìm kiếm<i class="ico-search"></i>
                            <div class="box-search" style="display: none;">
                                <input id="textSearch" type="text" class="text"><input id="btnSearch" type="button" class="button" value="">
                            </div>
                        </span>
                    </div>
                    <div class="fr link nhomchude">
                        <a href="nhom-chu-de/magazine.htm" title="Nhóm chủ đề Magazine">Magazine</a>
                    </div>
                </div>
            </div>
            <div class="page-head">
                <div class="w980 mgauto clearfix relative">
                    <a href="soha_default_2.html" class="logo" title="Trang chủ"></a>
                    <div class="khwth-trending-wrapper">
                        <ul class="list-khwtht clearfix"></ul>
                    </div>
                    <a href="the-thao/anh.htm" title="Ngoại hạng Anh">
                        <img src="sohanews.sohacdn.com/web_images/EPL_img.png" class="fr mgt30" />
                    </a>
                </div>
            </div>
            <div id="ctl00_ctl00_cphBody_PageMenu1_MenuDefault" class="page-menu">
                <div class="inner clearfix">
                    <a href="soha_default_2.html" title="Trang chủ" class="first"><i class="ico-home"></i></a><a title="THỜI SỰ" href="thoi-su.htm">Thời sự</a><a title="Kinh doanh" href="kinh-doanh.htm">Kinh doanh</a><a title="Quốc tế" href="quoc-te.htm">Quốc tế</a><a title="Quân Sự" href="quan-su.htm">Quân Sự</a><a href="the-thao.htm" title="thể thao">Thể thao</a><a title="Cư dân mạng" href="cu-dan-mang.htm">Cư dân mạng</a><a title="Giải trí" href="giai-tri.htm">Giải trí</a><a title="Pháp luật" href="phap-luat.htm">Pháp luật</a><a title="Sống khỏe" href="song-khoe.htm">Sống khỏe</a><a title="Infographic" href="infographic.htm">Infographic</a><a title="Đời sống" href="doi-song.htm">Đời sống</a><a title="Khám phá" href="kham-pha.htm">Khám phá</a><a href="video.htm" title="Video" class="last">Video</a>
                </div>
            </div>
        </div>
        <div class="page-body clearfix">

            @RenderBody()
        </div>
    </div>
</body>
</html>



