

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Soha News</title>
    <meta name="robots" content="index,follow,all" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="refresh" content="1800" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="MobileOptimized" content="100" />
    <meta name="generator" content="VCCorp.vn" />
    <meta name="copyright" content="Công ty cổ phần Truyền Thông Việt Nam - Vccorp" />
    <meta name="author" content="VCCorp.vn" />
    <meta name="google-site-verification" content="TNthD0oe_3DoN9R-iWnUdKdxiCLOBl6mKowgwXJh8tc" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="soha.vn" />
    <meta name="apple-mobile-web-app-title" content="Soha News" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-TileColor" content="#007f75" />
    <meta name="msapplication-TileImage" content="http://sohanews.mediacdn.vn/mob_images/soha144.png" />
    <meta name="news_keywords" content="tin tức, tin tức tổng hợp, tin nhanh, tin nhanh mới,đọc báo trên di động,đọc báo trên điện thoại,thể thao văn hóa,tin nóng,sự kiện,pháp luật,xã hội,giải trí,thể thao,tin tức,thời sự,tin vắn" />
    <meta name="keywords" content="tin tức, tin tức tổng hợp, tin nhanh, tin nhanh mới,đọc báo trên di động,đọc báo trên điện thoại,thể thao văn hóa,tin nóng,sự kiện,pháp luật,xã hội,giải trí,thể thao,tin tức,thời sự,tin vắn" />
    <meta name="description" content="Ph&#225;t h&#224;nh, cập nhật tin tức tổng hợp của c&#225;c tờ b&#225;o h&#224;ng đầu tr&#234;n điện thoại di động, thiết bị di động v&#224; internet bản web . Tin nhanh mới nhất trong ng&#224;y." />
    <link rel="canonical" href="http://soha.vn/" />
    <script type="text/javascript">var _ADM_Channel = '%2fhome%2f';</script>


    <link rel="apple-touch-icon" href="http://sohanews.sohacdn.com/mob_images/soha60.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="http://sohanews.sohacdn.com/mob_images/soha57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="http://sohanews.sohacdn.com/mob_images/soha72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="http://sohanews.sohacdn.com/mob_images/soha76.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="http://sohanews.sohacdn.com/mob_images/soha120.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="http://sohanews.sohacdn.com/mob_images/soha152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="http://sohanews.sohacdn.com/mob_images/soha180.png" />
    <link rel="icon" type="image/png" href="http://sohanews.sohacdn.com/mob_images/soha16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="http://sohanews.sohacdn.com/mob_images/soha32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="http://sohanews.sohacdn.com/mob_images/soha96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="http://sohanews.sohacdn.com/mob_images/soha128.png" sizes="128x128" />
    <link rel="icon" type="image/png" href="http://sohanews.sohacdn.com/mob_images/soha192.png" sizes="192x192" />
    <link rel="manifest" href="http://kenh14cdn.com/channel-icon/soha-manifest.json">
    <link rel="mask-icon" href="http://sohanews.sohacdn.com/mob_images/soha192.png" color="#007f75" />
    <link rel="shortcut icon" href="http://sohanews.sohacdn.com/mob_images/soha32.png" type="image/png" />
    <!-- Google Tag Manager -->
    <script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KQF7QV4');</script>
    <!-- End Google Tag Manager -->
    <!-- Begin comScore Tag -->
    <script>
    var _comscore = _comscore || [];
    _comscore.push({ c1: "2", c2: "17793284" });
    (function () {
        var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
        s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
        el.parentNode.insertBefore(s, el);
    })();
    </script>
    <noscript>
        <img src="http://b.scorecardresearch.com/p?c1=2&c2=17793284&cv=2.0&cj=1" />
    </noscript>
    <!-- End comScore Tag -->
    <link rel="stylesheet" href="http://sohanews.sohacdn.com/mob_css/soha.home.01.11.2017.02.css" />
</head>
<body>
    <div id="admwrapper">

        <div class="trending-wrapper new-update-wrapper clearfix" id="topnews-wrapper" style="height: 0px;">
            <div class="trending-container">

                <div class="trending-header"><label>Mới nhất</label></div>
                <div class="trending-content new-update-content" data-role="popup-content">
                    <div>
                        <ul class="list-news-update"></ul>
                        <a id="autoLoadNotify" max-page="80" section="4" class="view_more mb-10" href="javascript:void(0)" rel="nofollow" onclick="loadMoreNotifyNews(this,'#topnews-wrapper .list-news-update');">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="body-wrapper">

            <div class="top-header-wrapper">
                <div id="header_menu" class="top-header clearfix">

                    <a href="/" class="sprites soha-logo fl" onclick="sendGa('TRANG CHỦ');"></a>

                    <ul class="list-top-menu fr clearfix">
                        <li class="lastest-news">
                            <a class="new-update" id="topnews_menu">
                                Mới nhất
                                <span class="x-line line1"></span>
                                <span class="x-line line2"></span>
                            </a>
                        </li>
                        <li class="ming-menu">
                            <a href="javascript:void(0)" rel="nofollow" onclick="LoginVietId('/dang-nhap.htm')" class="mingid-login sprites" id="login_menu" style="display: none;"></a>
                        </li>
                        <li>
                            <a rel="nofollow" class="extend" id="expand_tab">
                                <span class="x-line line1"></span>
                                <span class="x-line line2"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix" id="wrapper_mn" style="display: none">

                <div class="menu-container">
                    <div class="menu-container-w">
                        <div class="search-container">
                            <input id="txt_topkey" type="text" value="" placeholder="Nhập nội dung tìm kiếm ..." />
                            <input type="button" class="btn-search" onclick="onSearchTop('#txt_topkey')" />
                        </div> <!-- End .search-container -->
                    </div>
                    <div id="vietid_container">
                        <a href="javascript:void(0)" rel="nofollow" onclick="LoginVietId('/dang-nhap.htm')" class="btn-login-vietid">
                            <span class="login-text">Đăng nhập bằng</span>
                            <span class="login-vietid-logo"></span>
                        </a>
                    </div>
                    <div class="menu-tabs-container">
                        <ul class="menu-tabs clearfix">
                            <li>
                                <a href="javascript:void(0)" onclick="ActiveTab(this,'.tab_danhmuc')" class="active">chuyên mục</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" onclick="ActiveTab(this,'.tab_khac')">Trang khác</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" onclick="ActiveTab(this,'.tab_ungdung')">Ứng dụng</a>
                            </li>
                        </ul>
                        <div id="category-tab" class="menu-content">
                            <ul class="menu-tab-item category-list tab_danhmuc clearfix">
                                <li>
                                    <a href="/thoi-su.htm">Thời sự</a>
                                </li>
                                <li>
                                    <a href="/kinh-doanh.htm">Kinh doanh</a>
                                </li>
                                <li>
                                    <a href="/quoc-te.htm">Quốc tế</a>
                                </li>
                                <li>
                                    <a href="/quan-su.htm">Quân sự</a>
                                </li>
                                <li>
                                    <a href="/the-thao.htm">Thể thao</a>
                                </li>
                                <li>
                                    <a href="/cu-dan-mang.htm">Cư dân mạng</a>
                                </li>
                                <li>
                                    <a href="/giai-tri.htm">Giải trí</a>
                                </li>
                                <li>
                                    <a href="/phap-luat.htm">Pháp luật</a>
                                </li>
                                <li>
                                    <a href="/song-khoe.htm">Sống khỏe</a>
                                </li>
                                <li>
                                    <a href="/infographic.htm">Infographic</a>
                                </li>
                                <li>
                                    <a href="/doi-song.htm">Đời sống</a>
                                </li>
                                <li>
                                    <a href="/kham-pha.htm">Khám phá</a>
                                </li>
                                <li>
                                    <a href="/video.htm">Video</a>
                                </li>
                            </ul>
                            <ul class="menu-tab-item tab_khac clearfix" style="display: none;">
                                <li>
                                    <a href="http://linkhay.com" target="_blank" rel="nofollow">
                                        <span class="avatar-channel linkhay"></span>
                                        <span>LinkHay.com</span> <span class="des">Cộng đồng chia sẻ tin tức</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://m.kenh14.vn" target="_blank" rel="nofollow">
                                        <span class="avatar-channel kenh14"></span>
                                        <span>Kenh14.vn</span> <span class="des">Tin tức dành cho giới trẻ</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://m.autopro.com.vn" target="_blank" rel="nofollow">
                                        <span class="avatar-channel auto"></span><span>Autopro.vn</span> <span class="des">Cổng thông tin ô tô - xe máy</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://m.afamily.vn" target="_blank" rel="nofollow"><span class="avatar-channel afamily"></span><span>Afamily.vn</span> <span class="des">Chuyên trang gia đình </span></a>
                                </li>
                                <li><a href="http://m.cafebiz.vn/" target="_blank" rel="nofollow"><span class="avatar-channel biz"></span><span>Cafebiz.vn</span> <span class="des">Trang tin tức kinh doanh</span></a></li>
                                <li>
                                    <a href="http://m.cafef.vn" target="_blank" rel="nofollow">
                                        <span class="avatar-channel cafef"></span>
                                        <span>CafeF.vn</span> <span class="des">Trang tin tức tài chính</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="menu-tab-item tab_ungdung clearfix" style="display: none;">
                                <ul class="clearfix">
                                    <li class="sprite-x">
                                        <a href="javascript:void(0)" onclick="installApp('pega')" rel="nofollow">
                                            <div class="left">
                                                <div class="logoapp pega">
                                                </div>
                                                <div class="fl">
                                                    <span>Đọc tin Pega</span>
                                                    <div class="star">
                                                        <div class="on">
                                                        </div>
                                                        <div class="on">
                                                        </div>
                                                        <div class="on">
                                                        </div>
                                                        <div class="on">
                                                        </div>
                                                        <div class="on">
                                                        </div>
                                                    </div>
                                                    <div class="sprite-app btn">
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="right">
                                            <a class="sprite-app" href="javascript:void(0)" onclick="installApp('pega')" rel="nofollow"></a>
                                        </div>
                                    </li>

                                    <li class="sprite-x">
                                        <a href="javascript:void(0)" onclick="installApp('kenh14')" rel="nofollow">
                                            <div class="left">
                                                <div class="logoapp kenh14">
                                                </div>
                                                <div class="fl">
                                                    <span>Kênh14 App</span>
                                                    <div class="star">
                                                        <div class="on">
                                                        </div>
                                                        <div class="on">
                                                        </div>
                                                        <div class="on">
                                                        </div>
                                                        <div class="on">
                                                        </div>
                                                        <div class="off">
                                                        </div>
                                                    </div>
                                                    <div class="sprite-app btn">
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="right">
                                            <a class="sprite-app" href="javascript:void(0)" onclick="installApp('kenh14')" rel="nofollow"></a>
                                        </div>
                                    </li>
                                    <li class="sprite-x">
                                        <a href="javascript:void(0)" onclick="installApp('afamily')" rel="nofollow">
                                            <div class="left">
                                                <div class="logoapp afamily"></div>

                                                <div class="fl">
                                                    <span>Afamily App</span>
                                                    <div class="star">
                                                        <div class="on">
                                                        </div>
                                                        <div class="on">
                                                        </div>
                                                        <div class="on">
                                                        </div>
                                                        <div class="on">
                                                        </div>
                                                        <div class="off">
                                                        </div>
                                                    </div>
                                                    <div class="sprite-app btn">
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="right">
                                            <a class="sprite-app" href="javascript:void(0)" onclick="installApp('afamily')" rel="nofollow"></a>
                                        </div>
                                    </li>
                                    <li class="sprite-x">
                                        <a href="javascript:void(0)" onclick="installApp('muachung')" rel="nofollow">
                                            <div class="left">
                                                <div class="logoapp muachung">
                                                </div>
                                                <div class="fl">
                                                    <span>Mua Chung</span>
                                                    <div class="star">
                                                        <div class="on">
                                                        </div>
                                                        <div class="on">
                                                        </div>
                                                        <div class="on">
                                                        </div>
                                                        <div class="on">
                                                        </div>
                                                        <div class="off">
                                                        </div>
                                                    </div>
                                                    <div class="sprite-app btn">
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="right">
                                            <a class="sprite-app" href="javascript:void(0)" onclick="installApp('muachung')" rel="nofollow"></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <script type="text/javascript">
    (runinit = window.runinit || []).push(function () {
        getVietIDUserInfo('/dang-xuat.htm');
    });
                </script>

            </div>
            <div id="wrapper_ct">
                <div class="body-content">
                    @RenderBody()
                    
                </div>
                <script type="text/javascript">
                    (runinit = window.runinit || []).push(function () {
                        initHome();
                    });
                </script>

            </div>

            
        </div>
    </div>

    
    
</body>
</html>
<!-- u: 11/26/2017 9:34:02 PM -->